[2013-03-20 08:04] vodik opened #1 "Enhancement: option to disable spaces around table_mode_border."
I'd love to use this plugin to generate tables with markdown/pandoc, but they expect tables to look slightly differently:

[code]

Is is possible we could get an option that disables the space around `table_mode_border`?

[2013-03-21 06:46] dhruvasagar opened #2 "The insert mode mapping should be defined only for current buffer"
Currently the insert mode mapping for the configured g:table_mode_separator is defined as you enable toggle mode. This should be defined only for the current buffer to optimize further.

[2013-03-21 07:00] dhruvasagar opened #3 "Do not create border with Tableize if g:table_mode_border == 0"
Current Tableize ignores g:table_mode_border and creates a border anyways, it should respect the option and act accordingly.

[2013-03-21 07:11] #3 closed, assigned to nobody

[2013-03-21 07:12] #2 closed, assigned to nobody

[2013-03-21 07:55] dhruvasagar opened #4 "If g:table_mode_always_active the insert mode mapping is not set"
The mapping is being set by the autoload/tablemode.vim only when you enable / disable Table Mode. So if a user has set g:table_mode_always_active=1, though not recommended, the mapping will never be defined and hence table mode will not be invoked.

[2013-03-21 08:05] #4 closed, assigned to nobody

[2013-03-25 05:36] #1 closed, assigned to nobody

[2013-04-06 04:41] trusktr opened #5 "Does it work with inline comments?"
For example, I have this:

[code]

^^^ The cursor is in a commented line. Will table mode make all new lines also commented for convenience?

[2013-04-08 14:20] #5 closed, assigned to nobody

[2013-04-30 06:12] janlarres opened #6 "Mapping for going to the next cell and realigning"
Hi,

It would be really useful if there were a mapping, for example <Tab> in normal mode, that goes to the next cell and realigns the table. At the moment realignment only seems to happen when the separator is inserted, which makes editing the contents of already existing tables rather cumbersome.

[2013-05-01 06:38] #6 closed, assigned to nobody

[2013-05-17 20:41] maxcan opened #8 "using <Leader>t.. conflicts with command t"
I know a lot of people (myself included) have <Leader>t mapped to command-t.  it would be nice if VTM allowed for choosing a prefix besides t.

[2013-05-17 22:29] #8 closed, assigned to nobody

[2013-06-04 12:37] zagy opened #9 "Support for table headers"
Hi,

vim-table-mode works like charm mostly.

Here's an enhancement suggestion: Support for (rest) table headers.

They're indicated by = instead of -, see http://docutils.sourceforge.net/docs/user/rst/quickref.html#tables

Thanks.

[2013-08-09 09:23] jonblack opened #10 "Support for no borders"
Sometimes it's nice to have a table without a border:

[code]

Or just a table without a border between rows:

[code]

At first I thought the option g:table_mode_border would achieve this, but that just turns on/off automatic cell alignment.

I also tried setting table_mode_fillchar and table_mode_corner to nothing, but that causes other issues.

[2013-09-18 20:44] #10 closed, assigned to nobody

[2013-09-18 20:44] #9 closed, assigned to nobody

[2013-09-20 19:02] arecarn opened #11 "Invalid variable name in the docs"
In docs it says [g:table-mode-separator](https://github.com/dhruvasagar/vim-table-mode/blob/master/doc/table-mode.txt#L32) opposed to `g:table_mode_separator`

Thanks for the cool plugin!

[2013-09-25 04:00] #11 closed, assigned to nobody

[2013-10-08 17:24] martin-ueding opened #12 "No license document in the repo"
I would like to package this for Debian, but I would need to know what the license terms are on this. Could you please add some `COPYING` or `LICENSE` file to the repo?

If you habe no idea, I'd prefer something established like MIT, GPL or BSD.

[2013-10-08 18:09] #12 closed, assigned to nobody

[2013-10-18 00:41] genvia opened #13 "can't align chinese character"
good plugin, but can't align chinese character

[2013-11-10 20:37] ttsiodras opened #14 "I can create tables just fine - except for the first (top border) line"
After enabling TableMode, if I start with '|' everything works perfectly... I finish my series of cells, press RETURN, then '+-' (which emits an "inter-row" border line) and continue with more '|' - all goes fine.

But what happens with the "top-most" border line?
If I try to start with '+-' I just get a '0'...

If I finish all my other rows and THEN return to the (missing) first border line, and

[2013-11-12 14:20] #14 closed, assigned to nobody

[2014-01-22 00:27] jgallen23 opened #15 "Reference a different table"
I have a file that has a few tables in it and it would be great if I could reference a value from another table in my formula or pull in the value into a cell from the other table so I don't have to have two references to it.  Is there any way to do this?

[2014-01-22 00:31] jgallen23 opened #16 "Ignore table headers with column forumlas"
I have a table like this:

[code]

but when I execute the forumla, I get this:

[code]

The top right header is now 0.0.  Is there any way to have the formula skip the header row?

[2014-01-22 05:04] zcchen opened #17 "One more variable for outside corner of table"
Is possible to add one more variable to set the outside corner of table?

Similar like below:

[code]

If the variable of outside corner is set to be '+', it will be very useful to make table for pandoc.

[2014-01-29 06:03] #17 closed, assigned to nobody

[2014-02-05 07:24] saschagrunert opened #18 "Merging table cells"
Hi there,

It would be nice if we can merge some table cells, e.g. with a special separator or something like that.

Best regards.

[2014-02-14 14:53] agouge opened #19 "Hyphenated words break alignment"
First of all, great plugin! I find this extremely useful.

I can't seem to get alignment to work when one of my cells contains a hyphenated word. I recorded this example into a register:

[code]

The output is:

[code]

while obviously I was hoping for:

[code]

Any ideas? Thanks!

[2014-03-09 18:45] arkossy opened #20 "Issue formatting existing content into a table"
**The formatting existing content into a table option is not working for me.**

---

Reproduction of the issue:

_1. I have a line:_
a, b, c

_2. I use the command:_
:Tableize or :Tableize/,

_3. I get the below result:_
| a, b, c    instead of         | a | b | c |

---

FYI - I have the following lines in my .vimrc:
let g:table_mode_always_active = 1
let g:table_mode_corner = '|'

[2014-03-11 20:35] arecarn opened #21 "When table mode is disabled text object "tc" still enabled."
I've noticed when trying to use "dtc", "ctc" , and "ytc" (<operator> till "c") while table mode isn't enabled nothing happens.

I know you allow users to  change the text object to some other string, but I imagine you wouldn't want your plugin to conflict with default behavior of Vim when it isn't enabled.

[2014-03-12 02:22] #20 closed, assigned to nobody

[2014-03-18 21:33] MikeDacre opened #22 "Not auto-formatting table?"
Hi,

For some reason I can't get the plugin to auto-format tables?  I have installed it using vim-bundle and pathogen, I can read the help from within vim and :TableModeToggle executes fine (no errors), but nothing happens... the table doesn't auto format.

Are there any debugging steps you can recommend?

Thanks!

-Mike

[2014-04-05 18:09] harriott opened #23 "Enhancement request: GFM colons allowed (for alignment)"
Thanks for such a super and neat plugin, and support!

My first intended use is for tables in [GFM](https://help.github.com/articles/github-flavored-markdown), so I `:let g:table_mode_corner='|'` (and quickly discovered [the little hyphen-bug that Adam Gouge brought to your attention](https://github.com/dhruvasagar/vim-table-mode/issues/19)).

For nice presentation in a GFM-style output (html or p

[2014-04-07 09:56] #13 closed, assigned to dhruvasagar

[2014-04-07 10:02] #21 closed, assigned to nobody

[2014-04-21 08:00] saschagrunert opened #24 "E117: Unknown function: s:IsTableModeActive"
Got an error if I open vim, press `<leader>tm`, then enter in insert mode `||`:

[code]

[2014-04-21 18:41] #24 closed, assigned to dhruvasagar

[2014-04-23 04:04] huaihuaiVV opened #25 "BUG"
E117: Unknown function: tablemode#table#TableizeRange
when i use :Tableize command

[2014-04-23 05:57] #25 closed, assigned to nobody

[2014-04-25 09:32] #19 closed, assigned to nobody

[2014-04-25 09:32] #23 closed, assigned to nobody

[2014-04-25 09:33] #22 closed, assigned to nobody

[2014-04-26 17:57] Kcorab opened #26 "An error message appears ..."
An error message appears if I am in the next row have one more column than in the row before.

Example:

|-----+-----|
| 0/0 | 1/0 |
|-----+-----+-----|
| 0/1 | 1/1 | 2/1 |

Fehler beim Ausführen von "function tablemode#TableizeInsertMode..tablemode#table#Realign..tablemode#align#Align..tablemode#align#alignments":
Zeile    7:
E684: Index der Liste außerhalb des zulässigen Bereichs: 8
Betätigen Si

[2014-04-26 18:22] #26 closed, assigned to nobody

[2014-04-28 15:14] huaihuaiVV opened #27 "restore default mapping after tablemode"
tablemode use lots of <leader>t mapping ,
is it possible to just enable these mapping during  TableModeEnable ?

after disable it , we restore the default mapping ,
so that doesn't conflict with other plugins ..

Thanks

[2014-04-30 13:02] zcchen opened #28 "Table Cell Length Is NOT Displayed Correctly for Multi-byte"
Hi,

I am not sure whether it is a bug or just a feature request.

If the contents in table cells are contained multi-byte, like CJK characters, the length of table cell may be not correct.
eg.

[code]

Notice the function named "GenerateHeaderBorder" in file "autoload/tablemode/table.vim".
It seems just replacing some chars to g:table_mode_fillchar and similar chars to make the table bar.
For a L

[2014-04-30 16:00] #28 closed, assigned to nobody

[2014-05-06 05:53] gstewart opened #29 "Exception during EnableTableSyntax that hangs vim"
After the latest update (commit 7258a56), I am getting an exception when starting vim that hangs it and I end up having to kill it.

[code]

The tablemode#table#GetCommentStart() function checks the length of &commentstring, and then splits the string on '%s' and tries to call a substitute on the first element of the result.

My commentstring is set to just `%s` by default so the split doesn't ret

[2014-05-09 14:18] Kcorab opened #30 "[4.4.1] New Error: Type '|-|' ...;-)"
Hello,

when TableMode is enabled and you type in '|' followed by '-' and you type again '|', then vim report an error. ;-)

Regards

[2014-05-10 09:57] #30 closed, assigned to nobody

[2014-05-30 06:53] #29 closed, assigned to nobody

[2014-05-30 06:53] #27 closed, assigned to nobody

[2014-06-02 11:57] magthe opened #31 "Support for pandoc (markdown) tables"
[pandoc](http://johnmacfarlane.net/pandoc/README.html)'s brand of markdown supports an impressive range of table syntaxes.  Some of them are nicely supported by `table-mode`, but not all.  In particular I can't work out any way of writing [multiline tables](http://johnmacfarlane.net/pandoc/README.html#multiline-tables) or [grid tables](http://johnmacfarlane.net/pandoc/README.html#grid-tables) (whi

[2014-06-03 12:15] Kcorab opened #32 "When the tablecorner-char is in a Cell, then the fillchar ..."
above or below also will be a tablecorner-char.

|--------+-------------|
| number | orientation |
|-------:+------------:|
|     -1 |           - |
|      0 |           + |
|      1 |           + |

Now type '|' '|' and you get:

|--------+-------------|
| number | orientation |
|-------:+------------:|
|     -1 |           - |
|      0 |           + |
|      1 |           + |
|--------+---------

[2014-07-17 10:48] p0deje opened #34 "Provide a way to unmap key bindings"
Thanks for the awaking plugin!

There is only one thing that bothers me. I have created autocmd to enable table mode on Cucumber features:

[code]

It works fine, but I don't really want it to add `{<Bar>` and `}<Bar>` mappings since they interfere with default Vim `{` and `}` (jump to previous/next paragraph). I tried to add one more autocmd to automatically unmap those bindings, but it didn't wo

[2014-07-25 01:57] #34 closed, assigned to nobody

[2014-08-09 06:42] xiangxw opened #36 "textwidth is set to 78 after vim-table-mode is used?"
can i disable this?

[2014-08-09 06:50] #36 closed, assigned to nobody

[2014-08-15 04:10] #16 closed, assigned to dhruvasagar

[2014-09-16 06:15] rossipedia opened #38 "Sorting by column"
I just found this plugin about a week ago, and absolutely love it.

I think it would be a great feature enhancement to allow sorting the table by a specific column. Technically you can currently sort by the first column with a standard `:sort` command, but sorting by an arbitrary column would be really powerful.

How difficult would that be?

[2014-09-16 20:07] #38 closed, assigned to nobody

[2014-09-24 04:15] ghost opened #39 "No way to disable { and [ mappings"
The { and [ mappings are annoying and I never use them, however I use { and [ by themselves (along with } and ] of course) quite frequently to navigate through files. If the { and [ mappings from your plugin are enabled, I have to wait for the timeout before the singular map triggers because vim is waiting to see if I'll press {h or something like that instead of just {

Fixing this myself require

[2014-10-23 17:11] martin-ueding opened #41 "Text object `tc` shadows operator `t` with argument `c`"
I have the table mode installed and typed `ctc` and expected to “correct 'till `c`” to come out. It rather informed me that there is no table cell there.

There is nothing constructive I can suggests here, I just wanted to notify you of this. Using `f` instead of `t` worked fine there as well.

[2014-10-25 12:22] Enrico68 opened #42 "Integration with HowMuch plugin"
Is it possible to use the plugin in conjunction  with the  [HowMuch plugin](https://github.com/sk1418/HowMuch) ?

[2014-10-28 02:33] #41 closed, assigned to nobody

[2014-10-28 17:01] #42 closed, assigned to nobody

[2014-11-16 04:43] #39 closed, assigned to dhruvasagar

[2014-11-17 17:41] p0deje opened #44 "Avoid echoing table mode status"
I currently use vim-table-mode to make it easier to use Cucumber tables. To achieve this, I only enable it in Cucumber, and clear all mappings except to `<Bar>` (as I don't need them).

[code]

After #37 has been merged, every time I open Cucumber it echoes table mode status. Is there any way this could be avoided?

[2014-11-18 02:27] #44 closed, assigned to nobody

[2014-12-03 01:28] idbrii opened #45 "Inserting a new column with I adds header border row"
If I use :TableModeEnable and create a simple table:

[code]

Then, from normal mode I type `I|` to begin inserting a new first column (I want to add a new cell to the table before 'a'), my text is transformed into a header row:

[code]

I would expect:

[code]

So if I kept typing `z` I would get:

[code]

I have similar problems when using `I|` with a block selection to insert a new column on se

[2015-01-01 12:20] fugokidi opened #47 "TableModeEnable vimwiki error"
When I enter :TableModeEnable in vimwiki file, some error occurs:

Error detected while processing function tablemode#Enable..<SNR>41_SetActive..<SNR>41_ToggleSyntax..ta
blemode#SyntaxEnable:
line    1:
E867: (NFA) Unknown operator '\%%'
E475: Invalid argument: Table /^\s*\(\%\%\)\?\s*\zs|.\+|\ze\s*$/ contains=TableBorder,TableSeparator,T
ableColumnAlign containedin=ALL

There is table support in

[2015-01-01 12:28] dhruvasagar commented on #47
hmm well I guess `%%` is the vim-wiki commentstring. I'll try to address this issue.

[2015-01-04 17:39] jsivak commented on #9
Thanks, that works perfectly.

[2015-01-06 07:10] timofurrer opened #48 "Does not work for my configuration"
Hello,

I've installed `vim-table-mode` with `Vundle.vim` but it does not start to work after `:TableModeEnable`.
There is always an `Pattern not found` error.
This is my whole vim configuration:
Can you find any thing which prevents the `vim-table-mode` plugin to work?!

[code]

[2015-01-06 07:53] dhruvasagar commented on #48
Can you give me a bit more info about the error !? Perhaps there was an error code as well ? Maybe something more ?

[2015-01-06 08:09] timofurrer commented on #48
Unfortunataly not!
I can only see this error:

![2015-01-06--1420531709_185x69_scrot](https://cloud.githubusercontent.com/assets/1008252/5625883/b4aeb9a2-9583-11e4-9a13-cb6c4f97482f.png)

[2015-01-06 08:43] dhruvasagar commented on #48
Can you tell me what vim version are you using ? Also just to confirm, you see this message immediately after you say :TableModeEnable ?

[2015-01-07 19:43] berce commented on #31
Excellent work!

A further improvement could be to allow a multiline header. Now, if there are fillchars requested at the 3rd line of the table, header_fillchar will be used. So if the header uses multiple lines, it doesn't work. It would be nicer if the header_fillchar is used on the second line that requests fillchars.

I 'd like to get this:

[code]

When typing:

[code]

But now I get

[code]

[2015-01-08 01:41] dhruvasagar commented on #31
Multiline cells is a bit hard at the moment and I am not sure I want to support it, I think it would add a lot of complexity and make things difficult for the formula engine. I don't make any assumptions with respect to the borders as an indication for row separators, they're only there for aesthetic and convenience and not a necessity.

I would suggest to just go with :
[code]

[2015-01-18 01:33] dhruvasagar commented on #32
I am not able to reproduce this anymore, I guess it got fixed along the way during some of my refactoring attempts. Kindly reopen this issue if you feel it still persists for you.

[2015-01-18 01:33] #32 closed

[2015-01-18 01:43] dhruvasagar commented on #45
Hey I haven't been able to dig around to fix this issue, but i'd like to add that all you need to do is add a 'space' or some 'text' before you add the initial `|` and that works like expected (as a work around for now)

[2015-01-22 03:44] jeetsukumaran opened #52 "Mapping to Add Horizontal Borders?"
Is there a way to easily add horizontal borders to a table?

e.g., given:

    h1,h2,h3,
    a,a,a,
    b,b,b

the tabelize operation (``\tt``) results in:

    | h1 | h2 | h3 |
    | a  | a  | a  |
    | b  | b  | b  |

Now I would like to add horizontal borders to the header row. It would be nice if some option, e.g. ``\th``
would draw an appropriate line at the current cursor position if the cu

[2015-01-22 05:52] dhruvasagar commented on #52
Is it too combersome to go and add them yourself using `||`?

[2015-01-22 05:57] jeetsukumaran commented on #52
Ah, OK. I saw that key-mapping in the help, but did not realize that this was what it does. It does indeed fulfill the basics of this request. And some simple mappings such as:

    nmap <Leader>th o<bar><bar><ESC>
    nmap <Leader>tH O<bar><bar><ESC>

make things pretty seamless.

Thanks for a great plugin!

[2015-01-22 05:57] #52 closed

[2015-01-22 05:58] dhruvasagar commented on #52
No problem, thanks for your feedback :)

PS: that mapping requires the table mode to be active.

[2015-01-22 06:00] jeetsukumaran commented on #52
You're welcome. And yes, will probably have to find a hook to trigger the mapping and unmapping when entering/leaving table mode.

[2015-01-22 06:02] dhruvasagar commented on #52
Table Mode offers autocmds `TableModeEnabled` and `TableModeDisabled` to hook into for such a use case.

[2015-01-22 06:02] jeetsukumaran commented on #52
Excellent! Well-designed like the rest of the plugin!

[2015-01-22 13:33] shibumi opened #53 "vim-table-mode is not building a table.."
Hello,
vim-table-mode is not building a table. I installed it correctly and enabled it via :TableModeEnable
but its just fixing the space between the |.

![lastimg](https://cloud.githubusercontent.com/assets/3833685/5856454/a2debf84-a243-11e4-871c-c2b7bdeb93aa.png)

What am I doing wrong?

[2015-01-22 13:41] shibumi commented on #53
didnt understand the princip behind it.. sorry.. forgot the +- at the beginning and at the end.. you should write it in the README :-)

[2015-01-22 13:41] #53 closed

[2015-01-22 13:42] shibumi opened #54 "[Feature Request] editing the table afterwards break the table"
When I change the content of the table afterwards it will break the table. Is there any chance to fix this?

[2015-01-22 13:49] dhruvasagar commented on #54
Hi, can you explain the use case in a bit more detail ? What exactly broke and how ?

[2015-01-22 13:59] shibumi commented on #54
When I have a table.. and change content in the table after I build the table the table will break.

First Table before I added some X
Second table after I added some X

Is there a way to fix automatically the table when I change content of a cell after building the table ?

![lastimg](https://cloud.githubusercontent.com/assets/3833685/5856850/0522ea96-a247-11e4-8bc8-ea1e7d4f20aa.png)

[2015-01-22 14:01] dhruvasagar commented on #54
Vim table mode provides a mapping <kbd><Leader>tr</kbd> for re-align the table when needed, also you could just re-add a <kbd>|</kbd>  again after removing one anywhere in the table and that would also realign the table.

[2015-01-22 15:11] shibumi commented on #54
thx

[2015-01-22 15:11] #54 closed

[2015-01-23 14:01] shibumi opened #55 "License"
Hello,
I am currently building a package for the Arch User Repository for vim-table-mode.
Which License do you wish for it?

[2015-01-23 14:25] dhruvasagar commented on #55
What license would be appropriate !? I suppose VIM licence would be fine.

[2015-01-23 14:28] shibumi commented on #55
k thx will add to the AUR under vim license

[2015-01-23 14:28] #55 closed

[2015-01-23 14:33] dhruvasagar commented on #55
Cool, thanks!

[2015-02-10 13:05] Kcorab commented on #32
Hello Mr. Sagar,
I reopen the issue #32 because it is still exist.

If I have got the tablecorner-char (in this case '+') in a cell,
like the following, then the tablefill-char above or below also will be the tablecorner-char.
I try to show you this issue on the following impractical example.
[code]
In this example are no problems.
But now Aaron and Isaac want to switch her favorite chars.
Aaron h

[2015-02-10 13:07] dhruvasagar commented on #32
Yea I understand, will take another look to see if I can work around this issue.

[2015-02-26 19:01] animetrics opened #56 "Formula functionality buggy"
Hi,

I love this plugin however I've had some apparent buggy behavior with formulas.  Cell references randomly appear not to work properly.  It's hard to nail down a simple example to reproduce the problem since it's random but below is example:

     |---+----------+----------+-------+---------+----------|
     | X | 1        | 1        | R     | R       | R        |
     |---+----------+--------

[2015-02-27 03:22] QianChenglong opened #57 "gfm table mode error"
When align center like this:

    ...+:----:+

It becomes:

    ...+----:+

It deletes the left align character!

[2015-02-27 03:24] #56 closed

[2015-02-27 03:27] dhruvasagar commented on #56
Hi,

The problem was subtle, thanks for reporting the issue. The problem happened only when there are borders inside the table. Earlier I was using a formula to get the line number of the desired row which doesn't work if we have borders within the table (the header border is fine, but others caused this issue, the one before the last line in your case). I have fixed this issue now.

[2015-02-27 03:35] dhruvasagar commented on #57
I haven't yet added support for center alignment. I'll have a look, having both left & right for center alignment seems like a good idea.

[2015-02-27 14:25] animetrics commented on #56
Great! Thank you.

On Thu, Feb 26, 2015 at 07:27:26PM -0800, Dhruva Sagar wrote:

[2015-03-04 22:18] gamStar opened #58 "cannot invoke help from within vim"
I just installed (or tried to at least) table-mode and got past the first few errors, but typing

:h table-mode

yields only the 'E149: Sorry, no help for table-mode' error message.

I have tried all the installation options but the first two did not work. I then did the brute force copy of the three files into the right places, but that only worked when I copied the entire tablemode subdirectory

[2015-03-05 01:22] dhruvasagar commented on #58
Hi,

For the help to work in VIM, you need to run a command ':helptags ~/.vim/doc', if you were using a plugin manager like pathogen / vundle / neobundle they do this for you so you don't have to.

You can read more about it in `:h :helptags`

[2015-03-05 01:23] dhruvasagar commented on #58
Btw I will strongly suggest to use a plugin manager, it will make things easier for you.

[2015-03-05 01:31] gamStar commented on #58
Thanx for the quick reply!  That worked.

I actually tried to use pathogen.  The installation of pathogen itself went ok but the 'git submodule add . . .’ command returned the error

fatal: Not a git repository (or any of the parent directories): .git

and I didn’t want to spend the rest of the afternoon sorting that one out . . .

Thanx again.

:: paul

[2015-03-05 01:35] dhruvasagar commented on #58
Well that's the case when you have your `.vim` directory under version control using git, which is a common practice however not a necessity. Instead of doing `git submodule add ...` you can instead use `git clone ...` inside your `vim/bundle` directory, that would achieve the same result.

[2015-03-05 01:36] gamStar commented on #58
Thanx again - I’ll give that a try

:: paul

[2015-03-05 01:38] dhruvasagar commented on #58
np, i'll close this ticket for now, you can raise another one if you face an issue.

[2015-03-05 01:38] #58 closed

[2015-03-07 10:25] codeHatcher commented on #8
what do we add to vim to set the prefix? I see it's table_mode_mappings_prefix but that isn't working for me.

also, I think a lot of people use <leader> - t for command-t. Although I get that since you are tableize you want to be leader t there are still a bunch more people using command-t vs tableize which may deter some users. Just a thought.

[2015-03-07 11:59] dhruvasagar commented on #8
@codeHatcher it's `g:table_mode_map_prefix` that should do it for you. Let me know if it doesn't work, i'll have a look if something's wrong.

[2015-03-17 20:27] chishaku opened #59 "Unknown function: tablemode#logger#log"
Installed by copying relevant files to respective directories in ~/.vim.

On osx 10.10, vim 7.3.

Error detected while processing function tablemode#Toggle..<SNR>46_SetActive..<SNR>46_ToggleSyntax..tablemode#SyntaxEnable:
line    1:
E117: Unknown function: tablemode#table#StartExpr
E15: Invalid expression: '/' . tablemode#table#StartExpr() . '\zs|.\+|\ze' . tablemode#table#EndExpr() . '/' 'contain

[2015-03-17 20:34] chishaku commented on #59
I didn't copy the whole autoload folder to ~/.vim/autoload.

The README says this:

Copy autoload/tablemode.vim, ... to respective ~/.vim/autoload/,  ...

should be:

Copy autoload/*, ... to respective ~/.vim/autoload/,  ...

[2015-03-17 20:35] #59 closed

[2015-03-17 20:38] dhruvasagar commented on #59
Hi, sorry, I think that needs to be updated in the readme, you'll have to copy the entire `autoload` directory and not just that file for table mode to work.

I strongly recommend using a Plugin Manager like Pathogen / Vundle / NeoBundle however, because it will make your life of managing the plugins a lot more easier so you could update them / remove them whenever needed.

[2015-03-17 20:54] dhruvasagar commented on #59
Updated the docs, thanks!

[2015-03-18 17:35] jeetsukumaran opened #60 "Header and body separated by alternate `table-mode-fillchar`"
Pandoc's [grid-table](http://johnmacfarlane.net/pandoc/README.html#tables) format has an line separating the header from the body consisting of `=`.

[code]

When editing the table, the realignment is confused by the `=` bar, and does not recognize that the header row and the body row are part of the same table: i.e., each side is re-aligned independently.  Is there a way to communicate that this

[2015-03-18 17:56] dhruvasagar commented on #60
Hey, looks like there is a gap in the docs :/, I added a new option recently, you need to set `g:table_mode_header_fillchar` to set the char for the header if you want it different from the regular fillchar.

[2015-03-18 17:58] jeetsukumaran commented on #60
This works perfectly! Thank you!

[2015-03-18 17:58] #60 closed

[2015-03-18 18:00] dhruvasagar commented on #60
np!

[2015-03-24 14:17] Makistos commented on #9
I can't seem to understand how to create the header. I defined g:table_mode_header_fillchar to '=', typed +- on the first line and defined a header but it doesn't get realigned, or alternatively, it is realigned, but no extra '=' chars are added (i.e. the supposed header is treated like a normal row). I also can't figure out how to defined alignment for columns, adding the colon character to the h

[2015-03-24 14:27] dhruvasagar commented on #9
Hi, in order to add a border you just have type `||` on a new line, if this is in an already existing table it will align accordingly however if it's for starting a new table it will just add something like `|-+-|` but then once you go and add the first row to your table the border will be adjusted automatically. Also as you type / change the table things will be automatically adjusted along the w

[2015-03-25 07:38] Makistos commented on #9
Thanks! Got it working now.

[2015-03-25 13:17] dhruvasagar commented on #9
@Makistos Just add the header right after the first row, it might appear as |---| at first because of an issue with recognizing it as the header when the cursor is at that position, however post that any changes to the table or by using `:TableModeRealign` /  `<Leader>tr` will redraw the header border correctly using the `g:table_mode_header_fillchar`.

[2015-03-25 13:53] Makistos commented on #9
Still can't figure it out, sorry.

Do I start with a normal row (single |), create that and then add the line with (double |)? Doesn't work.

Or do I first create the line (double ||) and then add  a row (single |)? Doesn't work either.

[2015-03-25 15:16] dhruvasagar commented on #9
This is how it should look

[code]

You can invoke `:TableModeRealign` or `<Leader>tr` to realign the table and that will fix the header in case it isn't.

[2015-03-27 14:09] Makistos commented on #9
Ah, I have to have a header row on top, it can't be just the line.

[2015-03-27 17:10] dhruvasagar commented on #9
Yes there needs to be a header, it doesn't make much sense without it.

[2015-04-14 22:58] #57 closed

[2015-04-23 05:04] marmalodak opened #62 "fixed columns, wrap in cell"
I adore this plugin.

You commented in this question: http://vi.stackexchange.com/a/392/532

With textwidth and formatoptions and wrapmargin, I have failed at limiting the line length.  Should I do something else instead.

Is there any way I could achieve the effect of wrapping in a cell and limit the maximum length of a line?

[2015-04-23 05:17] dhruvasagar commented on #62
I am glad you like it.

If I understand you correctly, you essentially want to be able to easily wrap the content just within the third column !?

I am afraid that's something you'd have to probably do by hand. You can always hit `<Enter>` and then type `| | |continuing the third column|` and it will work like you'd expect. Note the spaces between `|` that is important otherwise it would just crea

[2015-04-23 05:47] marmalodak commented on #62
I just tried it and it does work well enough for me.

The flexibility of a full-size GUI spreadsheet is what I want.  Oh, I do not need a mouse and can use vim keybindings and plugins  :-)

Thanks for the tip.

[2015-04-23 05:51] dhruvasagar commented on #62
Anytime, I am glad you worked it out.

[2015-04-23 05:51] #62 closed

[2015-04-23 05:51] dhruvasagar commented on #62
Anytime, I am glad you worked it out.

[2015-04-23 05:51] dhruvasagar commented on #62
Anytime, I am glad you worked it out.

[2015-06-04 17:06] axil opened #63 "Outdated documentation"
Hi, Dhruva

First of all, thanks for your wonderful plugin!

But the documentation is somewhat outdated.

And I spent quite a huge amount of time figuring why the text instructions given on the official page (http://www.vim.org/scripts/script.php?script_id=4501):

don't work for me. They imply that *something* should happen after I type it on a new line. I did the `:TableModeEnable` thing, then en

[2015-06-04 17:12] dhruvasagar commented on #63
Hi,

Thanks for pointing it out, please accept my apologies for the wasted time.

The documentation in the README is fairly accurate, I will give that another look, specifically at what you pointed out. Thanks for that.

The videos (including the second one) are actually a bit outdated and the plugin has had changes in it's design based on community feedback in order to be less intrusive with peop

[2015-06-04 17:13] axil opened #64 "Ignore `<Bar>`s inside cell (suggestion)"
Is there a way to have a cell containing a `<Bar>` symbol that will be ignored by your plugin?

[2015-06-04 17:15] dhruvasagar commented on #64
Not as of now. Can you give me some examples for more clarity on the use case ?

[2015-06-04 17:19] axil commented on #63
The second one is much more accurate at least in respect to what to expect and how to start using the plugin.

IMHO it's much better to put it into documentation right now than to postpone until a better video is ready.

Anyway the amount of time I spent on figuring out how it works is much less than if I had decided to write it myself :)

[2015-06-04 17:25] dhruvasagar commented on #63
yea I thought I had both of the videos linked in the README, i'll update that

[2015-06-04 17:32] dhruvasagar commented on #63
I have updated it, but it's old :)

The borders aren't created on the fly anymore, you can create them on an as need basis, you just need to hit `||` on an empty line to create a border line. There is also decent support for headers, which is basically the first line separated by a border line.

The docs themselves are fairly accurate, I would highly recommend reading through them rather than the

[2015-06-04 17:32] #63 closed

[2015-06-04 17:35] axil commented on #64
That's the rest source:
https://raw.githubusercontent.com/axil/blog/master/content/software/django_to_jinja.rst

and that's the rendered result:
http://axil.github.io/django-templates-to-jinja2-vocabulary.html

I've managed to workaround the issue by replacing all '|' symbols to '/' symbols, formatting, turning off the plugin and then replacing them back. But maybe there's a better way.

[2015-06-04 17:41] axil commented on #64
The downside of this workaround is that I have to manually change '|' to '/' every time I want to update the table layout (and by search-and-replace afterwards, which is not a problem).

[2015-06-04 17:42] dhruvasagar commented on #64
As of now I can't think of a better way really.

One option would be to write it down in csv and then using `Tableize` to transform it rather than relying on 'on the fly' auto formatting.

[2015-06-04 17:52] dhruvasagar commented on #64
I'll try to think of some way I could support for this, at the moment it sounds hard unless you're willing to consider changing the border seperator.

[2015-06-04 19:40] axil commented on #63
For some reason vim didn't see the 'docs' directory so `:h table-mode` didn't work for me.

Now I've opened it and it is written very well.

Ironically, by that time I've already written an introduction as I see it.

So I've reread what I've written and found that it can serve a good job as an introduction for the newcomers.

[2015-06-04 19:42] axil commented on #63
See Updated readme #65 pull request

[2015-06-04 19:47] axil opened #66 "Plus sign in the cell -> bug in the on-the-fly mode"
When a table cell contents starts with `+` sign an excess `+` is added to the line above:

    | qwer | asdf   | zxcv |
    |------+-+------+------|
    | er   | +12345 |      |

[2015-06-04 19:58] axil commented on #64
It has the same drawback as my workaround: updating the layout after an edit will break the table structure.

I ain't really sure if ReST supports other separators.

Here's their guidelines on taming `Bar`s inside cells:

http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#grid-tables

[2015-06-04 19:58] axil commented on #64
Do you know how they addressed the issue in the emacs plugin?

[2015-06-04 20:14] dhruvasagar commented on #66
I've known about this, will give it another look

[2015-06-04 20:50] dhruvasagar commented on #64
No, I don't. They seem to have a `\vert` for something like this, not sure how they might be handling the case. I'd recommend researching how does rst provide support for pipe character inside of the cell.

[2015-06-05 04:34] axil commented on #64
I see.

I have already. The link I've given above describes how:

http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#grid-tables

[2015-06-05 04:36] dhruvasagar commented on #64
Yea I saw that, not very helpful unfortunately.

[2015-06-05 05:11] axil commented on #64
Indeed so. While their recipes are ok for manual formatting, they are no good for the on-the-fly mode.

I've found that my implementation of rst accepts backslashed Bars:

https://raw.githubusercontent.com/axil/blog/master/content/software/django_to_jinja.rst

So the next version of my workaround is: `'<,'>s:\\|:,,:`, edit table, then back again `'<,'>s:,,:\\|:`

[2015-06-05 05:17] axil opened #67 "Support for '=' lines (suggestion)"
The rst specs (http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#grid-tables) imply that table header (\<th>) should be separated from the table body (\<td>) using the '===' separator:

    +---------+---------+
    | header1 | header2 |
    +=========+=========|
    | data1   | data2   |
    +---------+---------+

The substitution of = to - is trivial, but subsequent editing brea

[2015-06-05 05:24] axil commented on #67
oops, it seems to be implemented already, although apparently has not made it into the docs yet .

[2015-06-05 05:31] axil commented on #67
I've updated readme in my pull request to include this feature.

[2015-06-05 13:34] dhruvasagar commented on #67
Yea, thanks!

[2015-06-05 13:34] #67 closed

[2015-07-07 16:08] ntnn commented on #47
Is there anything new on this? I just stumbled upon that problem as well.

[2015-07-07 16:10] dhruvasagar commented on #47
Hey sorry, I couldn't get around to fixing this, i'll check it out again and try to push a fix in couple of days.

[2015-07-27 09:50] dhruvasagar commented on #47
Unfortunately, it looks like vimwiki provides it's own mappings & commands for working with / creating tables. Looks like it isn't compatible with vim-table-mode and there are a bunch of conflicts. I am going to close this for now and come back if there is sufficient demand for this.

[2015-07-27 09:50] #47 closed

[2015-08-12 08:53] b3niup commented on #18
+1 for this feature from me.

Best regards

[2015-09-07 18:44] m42e opened #68 "Allow empty line before formula line for markdown"
For Markdown there must be an empty line after a table to be detected correclty. With a formula line directly after the table this is not fulfilled. Is it possible to allow a blank line and have the line still useable?

[2015-09-07 19:01] dhruvasagar commented on #68
interesting, I did not know of this. i'll have a look I suppose

[2015-09-29 02:15] idvorkin opened #69 "Feature Request - Support multi-line cells"
I love VIM, and the table plugin is great.   For single line cells it's perfect. It would be awesome if multi line cells where supported. This is how table functionality works in OneNote, and it's a dream.  Here's an example:

![image](https://cloud.githubusercontent.com/assets/280981/10153812/19153a94-6615-11e5-9cf6-e22ee9c0056b.png)

I haven't thought through what the multi line cell UX should b

[2015-09-29 06:00] dhruvasagar commented on #69
Technically, this is already possible. You just choose where to draw the line separators, which aren't a necessity anymore.

[2015-09-29 06:02] dhruvasagar commented on #69
Although from vim-table-mode's perspective they are 2 separate rows, but that shouldn't be a problem I believe. Unless you need something more.

[2015-09-29 13:29] idvorkin commented on #69
That's a great way to proceed.  Let me list out a few features I use often in OneNote tables, to see if there's a good map to vim-table-mode:

A) Re-order rows (as opposed to lines) by erasing and pasting.

From table example:

    Put cursor on [C] hit dd, and then move up to [A] and hit p.
    Expect both 'lines' in row C to move.

B) Add a line within a multi line cell, by  hitting enter (equiv

[2015-09-29 13:37] dhruvasagar commented on #69
A) You could just do `2dd`
B) Again you can always press `O` from the border line or `o` from the last line where you actually intend the same.

I can understand how these may seem slightly inconvenient but they also allow for more flexibility and ease.

[2015-09-29 16:11] idvorkin commented on #69
Is there a way I can press o, and stay in the same cell (vs go to the start of the next row?) See  image link:  http://i.imgur.com/QID8Xxj.gifv

[2015-09-29 16:35] dhruvasagar commented on #69
ah, well no. That I can look into supporting.

[2015-09-29 19:15] idvorkin commented on #69
Awesome. Tell me as you think about this.  I'm happy to brainstorm approaches if you'll find that helpful.

[2015-09-29 19:30] dhruvasagar commented on #69
Well I have been meaning to add more editing supports like the one you mentioned for a while. Things like adding a cell under the current cell, move cells etc.

[2015-10-14 16:23] dhruvasagar commented on #48
Hi, I am closing this for the moment, kindly re-open this if you can provide more details.

[2015-10-14 16:23] #48 closed

[2015-10-26 03:52] rafaqz commented on #69
I was just about to suggest this too. Having o or J commands restricted to a cell would be really useful, or some similar commands that achieve the same thing.

[2015-11-15 14:10] kminh commented on #64
@axil does RST support escaping the pipe in a table? i.e. http://docutils.sourceforge.net/docs/user/rst/quickref.html#escaping

If it does, how about ignoring `\|` when realigning @dhruvasagar ? I bet no one needs `\` at the end of a cell. At least we can have an option, maybe.

[2015-11-15 14:13] kminh opened #70 "Support Github flavoured markdown table"
Is it possible to support the table format here as shown here: https://help.github.com/articles/github-flavored-markdown/ ?

The main difference is the spaces in the header separator, for e.g. :

[code]

I find it much clearer to look at, suitable for minimalists.

[2015-11-15 21:57] arecarn commented on #70
I've noticed if you add a single space between a `|` and `-`  and reformat the table, your desired format is achieved, but then adding a `:` no longer aligns elements in columns.

[2015-11-16 19:38] dhruvasagar commented on #64
That would be a lot easier and saner I believe :)

[2015-11-17 05:47] dhruvasagar commented on #70
I understand that however, the spaces are actually not required for building github flavored tables, so the support is there if you omit spaces.

[code]

[2015-11-17 05:51] dhruvasagar commented on #70
But yes, having spaces isn't supported very well, I'll have to take a look into that.

[2015-11-19 16:14] mzlogin opened #72 "Format issue when cell string contains `|`"
I have a table like this

[code]

but when I use `<leader>tr` to reformat it, it becomes

[code]

neither `a|b` nor `a\|b` can work well, and

[code]

cannot work well too, is there any writing method I can format my table normally?

[2015-11-19 17:19] dhruvasagar commented on #72
Not as of now, this is being discussed here - https://github.com/dhruvasagar/vim-table-mode/issues/64. I will be implementing something very soon.

[2015-11-19 17:19] #72 closed

[2015-11-23 07:53] thirtythreeforty opened #73 "Invoke realignment after editing table without typing |"
Hello!  This is an awesome plugin.

I have a slight ergonomics improvement to suggest.  Currently, when I have a table such as the following:

[code]

And my cursor is positioned in the (empty) cell marked with a `%`, I can invoke `ci|` ("change in cell"), and type new text:

[code]

The table is now unaligned.  Of course this is easy to fix with a quick `:TableModeRealign`.  Would it be possible

[2015-11-23 08:03] dhruvasagar commented on #73
That is actually a very neat suggestion.

[2015-12-03 15:39] hein09 opened #76 "Sorting with negative numbers"
Hi,
great plugin, thanks for your awesome work!
Unfortunately, i can't get the sorting to work correctly.
My dataset is e.g.:

config    | value
----------|-----------
 AA       |     -0.637495
 AB       |     -1.368379
 BC       |     -0.365109
 BD       |     -0.334333
 CC       |      0.362374
 DE       |      0.050831

If i now try to sort this for column 2 i get

config    | value
----------|

[2015-12-03 17:32] dhruvasagar commented on #76
Hey thanks for filing a bug, technically this is a bug in vim itself since I am just using the native vim `:sort` which seems to be failing to sort negative numbers. I'll see what I can be done.

[2015-12-04 14:40] hein09 commented on #76
I see. thanks anyways, i'll try and find a patch for vim itself, then!

[2015-12-04 14:40] #76 closed

[2015-12-04 16:56] OliKn commented on #76
On Linux you could use `sort` from the GNU coreutils.
`!sort -n` I get:

    -1.368379
    -0.637495
    -0.365109
    -0.334333
    0.050831
    0.362374

[2015-12-04 16:59] dhruvasagar commented on #76
Yes I am aware of it, I did have a look at that, was part of "I'll see what I can do". I'll try to use that if it's available. I could potentially roll out my own sorting too, it may even turn out to be easier, though it might not perform as well.

[2015-12-05 17:39] hein09 commented on #76
I found a working patch for the internal sorting on the vim mailing list (https://groups.google.com/forum/#!topic/vim_dev/GkDT1K5qxuQ).
Maybe it can still be merged into upstream, it had been deemed ok then.

[2015-12-05 17:52] dhruvasagar commented on #76
That was posted in 2010. I really doubt if it will get merged in. It will be easier for me to roll out my own in viml :)

[2015-12-07 10:24] vasyapupkin123456 opened #77 "table_mode_separator"
let g:table_mode_separator = '┊'
E121: Undefined variable: separator_map
E15: Invalid expression: separator_map . '<Esc>:call tablemode#TableizeInsertMode()<CR>a'

[2015-12-07 10:36] dhruvasagar commented on #77
How would you type that character ? The separator is also used to bind they key for table creation.

[2015-12-07 10:39] vasyapupkin123456 opened #78 "table realign and restruct"
http://postimg.org/image/hp0eovdhz/
http://postimg.org/image/ye6fyizh3/

[2015-12-07 10:40] vasyapupkin123456 commented on #77
in insert mode C-k 4! --> ┊

[2015-12-07 10:58] dhruvasagar commented on #77
wouldn't it be very awkward to type ? Table Mode uses the separator as a mapping in insert mode to add columns / rows / borders. Or would you instead use the separator as that but still use `|` for mapping ?

[2015-12-07 11:37] dhruvasagar commented on #78
Hi can you tell me what's the problem ? Is it that you want wrapping in cells ? Well unfortunately there's no way to do that automatically yet.

[2015-12-07 12:25] vasyapupkin123456 commented on #77
I make programming notes in vim. And many notes have table:
http://postimg.org/image/do34bu61j/

imho, one way do this - used separator not from writable symbols

[2015-12-07 12:28] dhruvasagar commented on #77
Actually that is a known problem / issue. I still haven't found a very good solution to it yet. I am working on it. You're suggestion is worth considering. Thanks. I will notify via this issue once I have resolved it.

[2015-12-07 13:35] vasyapupkin123456 commented on #77
If use hotkey not from writable symbol, It would be good to make a hotkey to call the separator

[2015-12-16 23:28] addisonamiri opened #79 "Enhancement: Cell formatting"
I was hoping there could be support added for cell formatting. The goal would be to allow for things like dollar signs or a specific number of decimal places in the cells. I ran into the need when using formulas. I was trying to have a table of money but even after I removed the dollar signs it was summing them with a single decimal place. Not the biggest deal but it would be a nice thing to have.

[2015-12-17 07:51] dhruvasagar commented on #79
Hi, it should work with multiple decimal places. eg.)

| Test  | Header     |
|-------+------------|
| val1  | 10.1234    |
| val2  | 23.421     |
| val3  | 46123.123  |
| total | 46156.6674 |
/* tmf: $4,2=Sum(1:-1) */

The above table computation does respect multiple decimal places.

Perhaps you were doing something different, kindly provide more info.

[2015-12-17 18:48] addisonamiri commented on #79
I was thinking of this case:

| Test | Header |
|:-------+-------:|
| val1 | 1.00 |
| val2 | 2.00 |
| val3 | 3.00 |
| total | 6.0 |
/* tmf: $4,2=Sum(1:-1) */

Instead of this it would be nice to be able to specify to use two decimal
places instead of one. Maybe it could detect if trailing zeroes are present
and follow them that way. I was originally thinking of a way to specify
something like:

/*

[2015-12-21 01:51] kikyous commented on #70
GitHub Flavored Markdown :+1:

[2016-02-02 20:31] ferologics opened #80 "I love you"
Thank you for this.

[2016-02-03 01:59] dhruvasagar commented on #80
You're welcome!

[2016-02-03 01:59] #80 closed

[2016-03-03 14:15] Kcorab opened #81 "Can't use vim-table-mode on *.tex files."
If I try to use vim-table-mode on a *.tex file I get the following error message:

Fehler beim Ausführen von "function tablemode#Enable[1]..<SNR>56_SetActive[2]..<SNR>56_ToggleSyntax[2]..tablemode#SyntaxEnable":
Zeile    1:
E867: (NFA) Unknown operator '\%)'
E71: Ungültiges Zeichen nach \%
E475: Ungültiges Argument: Table /^\s_(\%)\?\s_\zs|.+|\ze\s*$/ contains=TableBorder,TableSeparator,TableColum

[2016-03-08 19:17] brettdh opened #82 "TableModeRealign strips leading whitespace in cell"
I have a table cell that has a ReST code block, which has leading whitespace. When I call `TableModeRealign`, the leading spaces are stripped, which collapses the structure of the code in the block.

For example:

[code]

becomes

[code]

So far this is my *only* issue with this extremely useful plugin. Thanks!

[2016-03-09 03:16] dhruvasagar commented on #81
Kindly share your vim-table-mode settings

[2016-03-09 15:55] Kcorab commented on #81
vim-table-mode settings? Where can I find them? In my vimrc I haven't defined such settings, so I think I use the default settings.

[2016-03-09 15:59] dhruvasagar commented on #81
Ok, can you provide your vim version details ?

[2016-03-10 13:16] Kcorab commented on #81
See [pastebin](http://pastebin.com/raw/3Zr9gDbj) please.

[2016-03-10 14:38] dhruvasagar commented on #81
Thanks, i'll try and make more sense of it

[2016-03-23 14:39] duckpuppy opened #83 "[Enhancement] Allow for per-filetype config (or buffer-scoped character variables)"
It would be incredibly nice if I could configure table mode to use markdown compatible tables if the filetype is markdown, but use the default style (which I think looks a little nicer) in other circumstances more easily.  If the various character config variables were buffer-scoped rather than strictly global then the user could configure that with autocommands or ftplugin/ files.

For Markdown i

[2016-03-23 15:32] dhruvasagar commented on #83
Yes that is a good idea. Let me work on it.

[2016-03-28 05:47] gamStar opened #84 "Entering table_mode_separator does not behave correctly"
After the ex command :TableModeEnable with the table_mode_separator set to the usual '|', when I type the '|' in input mode the text '<Plug>(table-mode-tableize)' appears instead.

It has been several months since I last used TableMode, which I find very useful, so I have no idea what I might have changed to create this incompatibility. My ignorance extends to the following as well:

- I do not kn

[2016-03-28 14:20] dhruvasagar commented on #84
Hi,

In order to check the version you could just look at the README.md inside table-mode plugin.
Can you share your vim-table-mode configuration and vim version info?

[2016-03-28 23:03] gamStar commented on #84
The vim version is 7.4 (compiled Mar 12 2015 18:31:16)

I think that the table-mode version is 4.6.3, but the README is not in my .vim directory anywhere that I could see. I looked instead in the Downloads directory (I am on a Mac) and the README in the vim-table-mode-master says 4.6.3

There is no file called vim-table-mode, only table-mode.vim, is that what you need to see?

[table-mode.txt](htt

[2016-03-29 05:40] dhruvasagar commented on #84
No I meant any configuration you may have put in your vimrc for vim-table-mode. Also perhaps you can share your vimrc, looks like maybe some setting could be interfering.

[2016-03-29 14:33] gamStar commented on #84
Here is my .vimrc. Note that I have commented out some lines at the end of the file that I thought might be interfering, but it made no difference.

[vimrc.txt](https://github.com/dhruvasagar/vim-table-mode/files/193645/vimrc.txt)

Again note that I changed the name of the file from .vimrc to vimrc.txt so that dragging and dropping would work.

[2016-03-29 17:20] dhruvasagar commented on #84
Hi,

Are you doing this in some specific filetype ? Kindly let me know.

[2016-03-29 17:32] gamStar commented on #84
Hi,

Thanx for getting back to me.

I am writing a markdown file that will be input into Pandoc. The filetype is ‘markdown’.

Are there any tests that you can think of that I can do here to get more information?

Thanx!

:: paul

[2016-03-29 17:45] dhruvasagar commented on #84
Not as of now, I am just trying to see if I can reproduce the issue.

[2016-03-29 17:56] dhruvasagar commented on #84
I see you're using Vundle, but I don't see vim-table-mode being managed with the help of Vundle. Kindly switch to that, because right now I am unsure of how you've installed vim-table-mode. You may delete existing vim-table-mode and then try.

[2016-03-29 18:16] gamStar commented on #84
Thanx again.

On the GitHub page for table-mode you recommend using NeoBundle or pathogen. Do you still recommend these? If I were to clean this all up and just use one bundle manager, which one would you recommend?

:: paul

[2016-03-29 22:28] dhruvasagar commented on #84
Use whatever you like, Vundle, NeoBundle, pathogen, most are fine. I myself actually switched to using vim-plug sometime back so I don't use NeoBundle anymore.

[2016-04-08 20:31] Miesco opened #85 "Update formula on row delete/add"
How about a feature to add a new row to update the formulas?  Or even if you just manually add a row
and do `:call AddRow()`.  It means "add this row".  This will do the following:

Let `n` be current row, on `:call AddRow()`, check all expressions in the "tmf".
For each `$x,1` entry, if `x >= n`, then add one to `x`.

In the example below, you would add the row manually, and `:call AddRow()`.  Si

[2016-04-09 05:04] dhruvasagar commented on #85
Hi, I have already thought about these situations, vim-table-mode provides a way to deal with them, it is as simple as this :
[code]

[2016-04-09 05:04] #85 closed

[2016-04-09 06:29] Ron89 opened #86 "multiple formula for formula line"
Is there a way to insert multiple formula in formula line? For example if I need formula for multiple cells in the table? Currently if I add a formula with another formula already exist, old formula will simply be replaced, and yet the table will not be changed.

[2016-04-09 06:38] dhruvasagar commented on #86
Hi,

How are you trying to add a formula ? Table Mode supports multiple formulas and the shortcut <kbd><Leader>tfa</kbd> enables you to add multiple formulas if you call it multiple times, you just have to call it from within the table on the target cell.

Alternatively you can also manually add multiple formulas delimited with a `;`.
Example :

[code]

[2016-04-09 06:49] Ron89 commented on #86
I added formula as such:
with table
[code]
I use `TableFormulaAdd` function at cell 3,1, type
[code]
formula correctly inserted as `#  tmf: $3,1=Sum(1:-1) `. Then I move to cell 3,2, invoke same function, same equation, the formula line is replaced with `#; $3,2=Sum(1:-1)` and no cell has changed its value.

[2016-04-09 06:50] dhruvasagar commented on #86
Then that seems like a bug, what file type is this ? I will try reproduce it and let you know.

[2016-04-09 06:52] dhruvasagar commented on #86
Also kindly share your vim-table-mode settings you have in your vimrc.

[2016-04-09 06:52] Ron89 commented on #86
It's in orgmode file, from [vim-orgmode](https://github.com/jceb/vim-orgmode). So the formula is actually filetype dependant?

[2016-04-09 06:53] Ron89 commented on #86
These are my settings
[code]

[2016-04-09 06:53] dhruvasagar commented on #86
It is not, I just want to be able to reproduce the issue. I tried in regular text files and it works as expected.

[2016-04-09 06:55] dhruvasagar commented on #86
What version of vim-table-mode are you using ?

[2016-04-09 06:56] Ron89 commented on #86
It's not `table-mode` related, I used it on my vim script, result is the same.
I am using vim-plugged to source your repo. I just updated it today.

[2016-04-09 06:59] Ron89 commented on #86
It appears as if plaintext is the only case that is working fine. markdown file also presents same issue.

[2016-04-09 06:59] dhruvasagar commented on #86
Ok, I am able to reproduce the issue, looks like when the comment character is `#` there is an issue. Will look into it and let you know. In the meanwhile you can add multiple formulas manually and it should work as the example I provided.

[2016-04-09 07:00] Ron89 commented on #86
Noted, thanks for the prompt respond. Sorry my vim script is not fluent enough to provide much help...

[2016-04-09 07:01] dhruvasagar commented on #86
No problem, thanks for reporting the issue.

[2016-04-09 07:25] #86 closed

[2016-04-26 05:49] DouglasOY opened #87 "when set paste vim-table-mode do not work"
when I add the line "set paste" in .vimrc in linux. the vim-table-mode do not work.

[2016-04-27 06:43] dhruvasagar commented on #87
Will have a look.

[2016-05-02 06:45] Konfekt opened #88 "insert mode abbrev's"
Thanks for this impressive plug-in. How about insert mode abbrev's, such as the following
[code]
that start/end table-mode  after  typing `||` or `__` (if at the start of the line, possibly following a  comment marker or blanks).  There are safer choices than `||`, but it is intuitive and convenient, and at the start of the line uncommon to be encountered otherwise.

[2016-05-05 07:21] Konfekt opened #89 "error e54 in markdown files"
After `<leader>tm` and typing in an empty markdown file
[code]
there comes:
[code]

[2016-05-05 10:39] dhruvasagar commented on #89
Thanks for reporting, will have a look soon.

[2016-05-05 16:35] Konfekt commented on #89
Ok, it actually already happens right after typing the first |. This doesn't occur in a Text file though.

[2016-05-06 15:04] Konfekt commented on #89
Hello, the cause is commentstring=[//]:\ #\ (%s)

[2016-05-06 15:59] dhruvasagar commented on #89
OK thanks for that should be able to escape those characters for building
comment regex
On May 6, 2016 8:34 PM, "Konfekt" <notifications@github.com> wrote:

[2016-05-06 17:11] Konfekt commented on #89
Yeah, it's only about the ()  part.

[2016-05-07 17:16] dhruvasagar commented on #89
Hey,

Are you using some special markdown plugin ? That `commentstring` looks rather weird and it's proving to be rather challenging to deal with.

[2016-05-07 19:29] Konfekt commented on #89
See https://stackoverflow.com/questions/4823468/comments-in-markdown that recommends it as best practice. Perhaps I could help? If it's a regex, how about embracing `commentstring` by `\V`and `\m` to interpret it literally?

[2016-05-07 19:31] Konfekt commented on #89
Also, note that only `()` needs to be escaped. Everything else does not cause trouble.

[2016-05-08 10:20] dhruvasagar commented on #89
I am aware of that, the regex that I build is by splitting the `commentstring` by `%s` so that I can place the content between them in case it's commented. This problem is where we're trying to compare and match whether it's the starting of a table line (including comment starting expression optionally).

[2016-05-08 10:27] #89 closed

[2016-05-08 10:27] dhruvasagar commented on #89
As per my tests, this should fix it, let me know if it's still a problem.

[2016-05-08 12:16] dhruvasagar commented on #88
Thanks for that, perhaps I can add that to the README. I think this is a customisation I would leave for the user to add himself and not within the plugin.

[2016-05-08 12:21] #88 closed

[2016-05-08 18:58] Konfekt commented on #89
Thanks! It's fixed.

[2016-05-14 13:24] tukoz commented on #87
I can confirm @DouglasOY's catch: set paste breaks automation as well as `:Tableize`.

[2016-06-08 16:30] expipiplus1 opened #90 "Allow multiple formula lines"
As far as I can tell, all the formulas for cells need to be squashed onto one line, which makes editing them difficult.

[2016-06-08 16:32] dhruvasagar commented on #90
That's true, it should be allowed, i'll work on it, thanks for pointing it out.

[2016-06-08 16:36] expipiplus1 commented on #90
looking forward to it, thanks

[2016-06-11 01:06] flukus commented on #69
Multi lines or being able to set max column widths with wrapping would be great. I use table mode with [dbext](https://github.com/vim-scripts/dbext.vim)  to format the results a lot better.

The only issue is columns with large text fields means large columns.

[2016-06-13 09:44] dhruvasagar commented on #69
ok gotta shift gears soon.

[2016-06-15 19:33] qlyoung commented on #77
I agree that while | is very convenient for initial use, I also use this plugin to document grammars and the vertical bar is the canonical symbol for `or` in many programming languages. Would like an unprintable binding if possible.

[2016-06-27 14:54] sittim opened #91 "Cannot add the same table."
Few days ago, I made a table, when I re-flow the table, it looked like this:

![selection_018](https://cloud.githubusercontent.com/assets/8825037/16383697/36eaef12-3c54-11e6-96ab-596f60b939d2.png)

Perfect, I was thrilled! But today, I cannot get the same result, When I re-flow the same table it turns into this:

![selection_019](https://cloud.githubusercontent.com/assets/8825037/16383779/7ae93412

[2016-06-29 14:00] Miesco opened #92 "table mode binding causes beep (fix herein)"
./plugin/table-mode.vim:61:  exec "nnoremap <silent> " . g:table_mode_map_prefix . g:table_mode_toggle_map .
      ./plugin/table-mode.vim:62:       \ " <Esc>:call tablemode#Toggle()<CR>"

The `<Esc>` is unncessary and causes a BEEP in the terminal.

[2016-07-02 13:59] Konfekt commented on #88
Correction:
[code]

[2016-07-08 18:24] brandonpollack23 opened #93 "TableSort sorts dividers"
When you sort a table the dividers move with the sort instead of staying in place

[2016-07-11 07:43] dhruvasagar commented on #93
Interesting, i'll have a look, thanks.

[2016-07-11 07:49] dhruvasagar commented on #91
This seems odd, is table mode enabled ? Is the behavior different when Table Mode is or not enabled ?
Will investigate into this.

[2016-07-11 08:04] dhruvasagar commented on #91
I am not able to reproduce this. How are you 're-flowing' the table ? I am assuming you used `:TableModeRealign` or `<Leader>tr`(default) ?

[2016-07-11 08:09] #92 closed

[2016-07-11 08:46] dhruvasagar commented on #91
Also, maybe you want to remove and re-add the table separator, or remove spaces manually, since once there are spaces it recognises it as a regular table row and hence doesn't work as you would expect.

Kindly let me know if you are still facing this issue and reopen this issue. Closing it for now.

[2016-07-11 08:46] #91 closed

[2016-07-11 11:46] sittim commented on #91
I think it is because I was trying to use rst plugin, https://github.com/Rykka/riv.vim.  It helps with some of  the things I need to do, but the vim-table-mode is totally awesome, so I was wondering, any way to make the two work together?

[2016-07-11 13:50] dhruvasagar commented on #91
Did you try removing the spaces on the header separator and try reformatting the table ? Do you still see the issue ? If you're still facing the issue I can try replicating it, only then can I identify & fix possible issues. Kindly let me know, thanks!

[2016-07-11 15:03] sittim commented on #91
Yes I did try, in fact if you take a look at this file:

https://github.com/sittim/configs/blob/master/test.md

The first table get these spaces, the second table is good.  If I load the following rc file:

https://github.com/sittim/configs/blob/master/.vimrc_test

and open up the table, going to the second table:

`tm`
`tr`

re-flows the second table to look like the first.

[2016-07-13 07:27] dhruvasagar commented on #91
But in your ~/.vimrc_test you don't have the setting `let g:table_mode_corner = '|'`. If you have that, it should be reformatting correctly (verified)

[2016-07-26 23:39] nzbart opened #94 "Useful key mapping missing from documentation"
I found this plugin a bit clunky to use until I discovered <leader>tr, which I only found by watching your excellent intro video and then reading the code to confirm.

It might pay to highlight this useful mapping in the documentation.

[2016-07-30 03:01] Miesco opened #95 "Formula for last row"
Could you please add a way to add a formula for the last row?

E.g.,

    | item  | num1 | num 2 |
    |-------|------|-------|
    | one   | 2    | 3     |
    | two   | 4    | 4     |
    | total |      |       |
    /* fmt: $,-1 = Sum(1:-1) */

Is there a features that conflict with this?

[2016-08-02 20:08] klassegeljakt opened #96 "Extended ASCII Table"
I have looked through the doc but didn't find a way to generate extended ascii tables like the one seen in the picture. I know possible to assign custom characters for corners, lines and separators. The problem is that extended ascii tables have 9 different types of corners as opposed to 1 which the cucumber tables have. Will these tables be supported at some point?

![](https://i.gyazo.com/dc0a10

[2016-08-05 02:53] Miesco opened #97 "Sum() for a row not working"
| cost1 | 25 | 35 | 0 |
    | cost2 | 20 | 20 |   |

"E116: Invalid arguments for function sum(1,2:1,3)"

[2016-08-05 07:55] dhruvasagar commented on #97
Hi, it should be `Sum`, it is case sensitive.

[2016-08-05 07:55] #97 closed

[2016-08-06 19:00] dhruvasagar commented on #95
This is not possible at the moment, you can define for last row given a column, but not for the entire row. May not be very intuitive / much needed use case.

[2016-08-06 19:02] dhruvasagar commented on #96
The tables generated with default settings is exactly like this, the only thing is you have to manually add the separators by using the `||` binding.

[2016-08-06 19:02] #96 closed

[2016-08-23 02:43] #95 closed

[2016-08-23 02:44] dhruvasagar commented on #94
Hi, this is actually documented already. Both in the readme and vim docs.

[2016-08-23 02:44] #94 closed

[2016-08-23 03:34] dhruvasagar commented on #93
Hi,

Since I use native sort, it's hard to avoid this for now. I will probably implement my own sorting and that should allow for such complex use cases.

[2016-08-23 03:56] #90 closed

[2016-08-23 03:57] dhruvasagar commented on #90
Hi, took a while, but i've managed to find time to implement this. Now we can have multiple formula lines in the same format as previously defined but directly one after the other at the end of the table.

You should be able to evaluate the formulas as expected from within the table or while on any of the formula lines

[2016-08-23 04:04] dhruvasagar commented on #87
I am not sure if paste mode should be supported. I personally don't use paste mode as much so kindly elaborate on how it may be useful in the context of table mode ?

If you paste outside of paste mode, vim-table-mode works exactly like it should (assuming you enabled it).

[2016-08-23 04:04] #87 closed

[2016-08-23 04:06] dhruvasagar commented on #84
I am hoping updating vim-table-mode fixed the issue, kindly reopen if you are still facing this issue.

[2016-08-23 04:06] #84 closed

[2016-08-23 09:00] expipiplus1 commented on #90
Thanks!

[2016-08-23 09:32] dhruvasagar commented on #82
Hey, this is by design, as of now there's no way to configure any padding etc. What it's doing here is simply aligning data within those table separators.

[2016-08-26 03:40] mzlogin commented on #64
As of now, this issue still exists, any evolve? @dhruvasagar

[2016-08-26 03:44] dhruvasagar commented on #64
Sadly not yet. I am starting to add features again. This will basically require tweaking of my regex patterns. Will look into it this weekend.

[2016-08-26 06:58] mzlogin commented on #64
Glad to hear that, full of expectation.

[2016-09-21 00:32] aks opened #99 "vimscript error in creating new table in input mode"
An error occurred when attempting to insert a table in input mode.

In an empty file, I typed:
[code]
at which point the error below occurred:

[code]

If it's helpful, here's the vim version info:

[code]

[2016-09-21 07:01] dhruvasagar commented on #99
Hi,

Looks like you added the small piece of code mentioned in the Tip to enable TableMode by typing `||`or `__`. Where did you add that code though ? Is that not in your vimrc ?

[2016-09-21 08:11] dhruvasagar commented on #99
Hi, thanks for reporting this issue, i'll fix the readme. Here is the fix for your reference :

[code]

Notice inside the `inoreabbrev` we use `<SID>` instead of `s:`.

[2016-09-21 08:11] #99 closed

[2016-09-23 02:01] wladston commented on #76
Amazing how a good path has been hanging for 6 years. That's the main reason why people are moving en masse to Neovim.

[2016-10-23 21:41] Alok opened #100 "feature request: swap pipe and backslash when table mode is on"
Or add an option for that functionality. This makes typing tables much faster.

[2016-10-25 23:55] luis3011 opened #101 "Exporting vertical lines to Latex"
http://stackoverflow.com/questions/8532762/exporting-vertical-lines-in-org-mode-table-to-latex
is there any way to do that for vim-table-mode?

[2016-10-27 09:52] dhruvasagar commented on #101
Hi,

Vim Table Mode does not have any special export facility for latex, I would assume that option / setting would have to be applied in whatever script you use for exporting to latex.

[2016-10-27 16:16] luis3011 commented on #101
thanks, i solved
#+ATTR_LATEX: :align |c|c|
|------+-----+-----|
|    A |   B |   C |
|------+-----+-----|
| 2.34 | 2.7 | 8.9 |
| 3.67 | 4.5 | 8.9 |
|------+-----+-----|

or export to HTML

#+ATTR_HTML: :border 2 :rules all :frame border
|------+-----+-----|
|    A |   B |   C |
|------+-----+-----|
| 2.34 | 2.7 | 8.9 |
| 3.67 | 4.5 | 8.9 |
|------+-----+-----|

that works for me

[2016-10-28 00:54] dhruvasagar commented on #101
Great, thanks for sharing.

[2016-10-28 00:54] #101 closed

[2016-10-28 12:04] stfl opened #102 "TableModeRealign changes wrongly changes header line."
I have table in a pandoc / markdown file where I'd like to use the ReST compatible table.
I have following set in my config.

   let g:table_mode_corner_corner="+"
   let g:table_mode_header_fillchar="="

wenn I run `:TableModeRealign` the header line is converted back to `+---+---+` instead of `+===+===+`

[2016-10-28 12:10] stfl opened #103 "having "+" as content of the cell"
Hi. I trying to create a table to compare different approaches for a report. For that i want to put a couple of `++` and `--` and so on in the cells.

When putting a `++`  and running `:TableModeRealign` two `++` are also added into the border which is of course wrong and causes pandoc to not correctly draw the table...
Is it possible to prevent that or to escape the `+` ?

[2016-10-30 21:05] Kcorab commented on #103
See https://github.com/dhruvasagar/vim-table-mode/issues/32
The ticket was closed although this issue still exist.

[2016-10-31 02:54] dhruvasagar commented on #103
I will revisit this issue.

[2016-10-31 15:09] ZelphirKaltstahl opened #104 "Table Mode causes high CPU load"
Once enabled the table mode causes high CPU load when simply scrolling through the lines using either up down movements or mouse wheel.

After disabling table mode, the load will still appear when scrolling though a file. After restart it is gone, until table mode is activated again.

Not sure why it needs to calculate so much when I am simply scrolling through the file and there seem to be some h

[2016-10-31 15:10] ZelphirKaltstahl commented on #104
Here is the output of `vim --version`:

	VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jun 16 2016 10:50:38)
	Included patches: 1-1689
	Modified by pkg-vim-maintainers@lists.alioth.debian.org
	Compiled by pkg-vim-maintainers@lists.alioth.debian.org
	Huge version with GTK3 GUI.  Features included (+) or not (-):
	+acl             +farsi           +mouse_netterm   +tag_binary
	+arabic          +file_

[2016-11-03 06:52] dhruvasagar commented on #102
Hi, did you make sure you restarted vim / sourced your vimrc after making those changes ?

[2016-11-07 13:06] coderofsalvation opened #105 "start during boot"
what should i put in .vimrc to automatically enable Table mode?
I tried:

[code]
and
[code]
but that gives:

[code]

[2016-11-07 13:41] dhruvasagar commented on #105
Hi,

The error is a bit odd and I understand why you get it, the reason is that most of the default configuration is loaded when the plugin loads. I am guessing (based on what you use for plugin management) you added those configurations before the plugin was added within your .vimrc.

However, even better would be to just add the following to your .vimrc

[code]

That setting is meant to always k

[2016-11-08 06:56] #105 closed

[2016-11-08 16:24] stfl commented on #102
Yes. When I do

```echo g:table_mode_corner_corner```

It shows me "+" and so on..

[2016-11-14 01:27] Alok opened #106 "mapping not cleared when user command defined"
I have these settings:

[code]

However, `<leader>tt` still activates `tableize`. Does this plugin not turn off mappings if they're already defined?

[2016-11-14 04:36] dhruvasagar commented on #106
Hi,

Actually the setting `g:table_mode_tableize_map` does not exist, so as of now there isn't a direct way to override that mapping directly. What you're doing here is only providing a new mapping.

However since you've requested it, I will add that. By design, then you will only need to configure the setting, the mapping will be added by the plugin using the setting.

[2016-11-14 10:04] dhruvasagar commented on #106
Hi,

I needed to refresh my memory on how plug mappings work. Basically you need the following configuration to make it working :

[code]

A few things to note :
* You do not need to set any global option, there doesn't exist one for this use case nor is it requried
* You need to use `nmap` as opposed to `nnoremap` to define your mapping, since `<Plug>` mappings are special mappings which will eve

[2016-11-14 10:04] #106 closed

[2016-11-19 18:02] DerWeh opened #107 "Request: export table"
Would it be possible, to export the `table-mode` tables to `html`? It looks like a simple replacement for `Excel`, less feature rich but way faster to just write small tables. The only thing I am missing, is getting it in a printable format.

Sadly I have to admit I have no idea of such things, hence I don't know if I am asking the impossible. I just saw the feature in [vimwiki](https://github.com

[2016-11-20 02:08] dhruvasagar commented on #107
Hi,

Yes it would be possible, and fairly easy to convert the tables to html tables, however I am not entirely sure how to close that loop, as in where to place the html tables etc.

[2016-11-30 13:08] weichen3544 opened #108 "Getting more done in GitHub with ZenHub"
Hola! @weichen3544 has created a [ZenHub](http://www.zenhub.com) account for the **dhruvasagar** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=Z

[2016-12-01 07:04] dhruvasagar commented on #108
I have tried zenhub before, the concept is great but works better for larger teams so not so much for this repo.

Also this is borderline spam, moreover Github seems to be adding similar features as part of their 'Projects' feature.

[2016-12-01 07:04] #108 closed

[2017-01-04 10:22] dhruvasagar commented on #104
Hi,

Table mode doesn't perform any computations on scroll or anything by default. The only thing I could attribute this to would be the table syntax definitions, which could have an impact on performance on certain platforms and would vary depending on the filetype in use.

I have just pushed a new version of table mode with a new configuration option `g:table_mode_syntax` which you can set to `0

[2017-01-04 18:41] ZelphirKaltstahl commented on #104
I don't know in which file type the issue originally occurred, and it didn't occur now when I set that option and tried in a `rst` file. However, I found another issue with the CPU load. When I have a table with a few hundred lines and then add a new row at the bottom somewhere, bam, the CPU load is up again, until I press `CTRL+C`. I did not have the patience to wait for it to finish, whatever it

[2017-01-04 19:10] t-b commented on #81
On my vim the aligmaps `\tt` shortcut clashed with the vim-table-mode one.

I've worked around the issue for me with defining:

[code]

in my vimrc.

[2017-01-05 04:43] dhruvasagar commented on #104
That is certainly a likelyhood, I haven't ever tested / optimised for performance for large tables. So that's interesting. Can you share the test table with me ? There should be optimisations that I can add to improve such scenarios.

[2017-01-05 04:47] dhruvasagar commented on #104
Also can you explain how do you 'add a column' ? I tried with some dummy data and it wasn't so bad.

[2017-01-05 06:12] #103 closed

[2017-01-05 06:26] dhruvasagar commented on #102
Hi,

When you first add the header border line when there isn't one, it will not be treated as a 'header' border and so will end up using regular fillchar. But subsequently on invoking `:TableModeRealign` will regenerate the border correctly.

[2017-01-05 06:28] dhruvasagar commented on #102
Let me know if you still face this issue.

[2017-01-05 06:28] #102 closed

[2017-01-05 06:33] dhruvasagar commented on #100
You can achieve this urself with the following code in your vimrc :

[code]

[2017-01-05 06:33] #100 closed

[2017-01-05 06:39] #93 closed

[2017-01-05 09:11] ZelphirKaltstahl commented on #104
adding a column: I entered some text after the last column in that row and then entered a `|`. Then it starts using one CPU core to 100% approximately, for at least 10s, without doing anything. I can then `ctrl-c` in VIM to stop it.

I already deleted the test file, but nor problem, I can create a new one.
[test.md.zip](https://github.com/dhruvasagar/vim-table-mode/files/686837/test.md.zip)

(I ha

[2017-01-06 01:05] Alok commented on #100
That didn't quite work, but this does:

[code]

-- Alok

On Wed, Jan 4, 2017 at 10:33 PM, Dhruva Sagar <notifications@github.com>
wrote:

[2017-01-06 01:34] dhruvasagar commented on #100
That's odd, it worked for me though.

[2017-01-06 01:36] dhruvasagar commented on #100
By default the `\` is the 'leader' key, so perhaps you have other leader mappings and that may conflict, or in the least cause delays. Although it's rare to have leader mappings for insert mode.

[2017-01-11 21:52] k33nice commented on #107
Hi,
I'm think ability to convert table into CSV data would be a cool feature. CSV is on of the most common ways to store tables. Thus it'll be possible to export it in DB, xls, etc. Also ability to convert CSV to table already implemented, so command that toggle it would be amazing.
I'm not very familiar with VimL, but i can try to make PR if it'll demand.

[2017-01-15 20:23] thriveth commented on #31
@dhruvasagar Sorry to re+open this item, but your suggested solution does only work for tables in which e.g. the units are quite simple. If it were "erg s^{-1} cm^{-1} \AA^{-1}", it doesn't work. This is not the case for your typical web developer, of course, but as a physicist, it would be very convenient to be able to do multiline headers because the journals want them. But I realize it might be

[2017-01-16 03:36] dhruvasagar commented on #31
Ok I will revisit this in that case. My initial thought process is that I will introduce a new configuration option that declares you are going to use bordered cells, which means that a cell would be identified by borders and not just the line numbers, it may be tricky to implement but i'll try to abstract it in a way as to not impact the existing flows. This should allow for both multiline header

[2017-01-27 10:40] #78 closed

[2017-02-25 22:57] Sathors commented on #107
Exporting to CSV would be much more portable indeed.

[2017-03-02 16:27] githorse opened #109 "no horizontal separators when Tableize-ing csv file"
When I call `Tableize` on

[code]

I get:

[code]

How can I get the horizontal separators between each line?

[2017-03-04 12:11] skrobul opened #110 "using table mode with vimwiki"
I know this has been briefly discussed in #47, but wanted to ask for a little help with fixing this.
There obviously is a conflict with vimwiki mappings and comment string, but a lot (if not most) of vimwiki users don't use their syntax, but use markdown instead.

This is what I have tried so far:

1. Given that it's just a markdown file, I attempted setting comment string to `set commentstring=">

[2017-03-08 05:54] SenZhangAI opened #111 "options for different file types"
Hi,
if I want to use corner "|" for markdown, and "+" for other file type, when I  use this:

[code]

this global variable will influent all file types,

if using two variables `b:table_mode_corner` and `g:table_mode_corner`, one for buffer and one for global, it may be easier to config.

There is an example of using buffer variable and global variable --- [delimitMate](https://github.com/Raimondi

[2017-03-08 06:01] dhruvasagar commented on #111
Yes, this is an already requested feature. I have a partial implementation ready, I should be pushing this soon.

[2017-03-08 06:28] SenZhangAI commented on #111
Thanks a lot， I found the same issue #83 , so I close this one.
This is an awesome plugin！

[2017-03-08 06:28] #111 closed

[2017-03-08 06:55] polyzen commented on #83
FWIW, here's what I use:

[code]

[2017-03-08 09:16] dhruvasagar commented on #83
Right, although better is to place that configuration within a ftplugin.

[2017-03-08 10:58] dhruvasagar commented on #110
Will have to debug this.

[2017-03-08 14:03] polyzen commented on #83
@dhruvasagar, noted.

[2017-03-08 16:39] githorse commented on #73
Why not update *during* the edit, in real time? For huge tables this might be slow, but I'm guessing it'd be unnoticeable in most cases. Could be an optional setting, perhaps.

[2017-03-09 05:21] dhruvasagar commented on #73
The best that can be achieved and works accurately is using 'CursorHold,CursorHoldI', the reason for that is realign itself manipulates the text and as a result can have weird behavior when simply adding a new column value without

This implies that the table will be realigned with a small delay, which I believe is acceptable given that accuracy is more important.

[2017-03-09 08:46] dhruvasagar commented on #73
Kindly play around with the new changes and let me know what you guys think. Based on that I will see if it's worth trying to do it as we type or to keep it as how i've implemented it for now.

[2017-03-09 16:36] dhruvasagar commented on #79
Hi, sry I haven't come back to this in a while. You can use inbuild vim functions to achieve this. You can replace your formula with something like this :

`/* tmf: $4,2=printf('%.2f', Sum(1:-1)) */`

I don't believe this is something should be handled / supported by the plugin directly. While I do have good support for formulas, formatting of numbers etc shouldn't have to be something handled by

[2017-03-09 16:36] #79 closed

[2017-03-09 16:41] dhruvasagar commented on #79
Here is a better formula for entire column :

`/* tmf: $4,2=Sum(1:-1); $2=printf('%.2f', $2) */`

[2017-03-09 16:51] dhruvasagar commented on #45
I think adding the space as a work around should suffice. I don't see this as a major pain point so closing this for now.

[2017-03-09 16:51] #45 closed

[2017-03-09 17:07] dhruvasagar commented on #109
You would have to add those manually.

[2017-03-09 19:23] githorse commented on #73
Awesome! Works as advertised. Only snag on the real-time updating is that the `updatetime` used by `CursorHold` is set by default at 4000 (ms), which is way too long in this context. Setting it to around 500 works great. However, I'm not really sure I really want to change `updatetime` globally without understanding the implications.

Maybe you can define a `g:table_mode_update_time` that overwrit

[2017-03-10 01:09] dhruvasagar commented on #73
That sounds better. Will do.

[2017-03-10 09:24] dhruvasagar commented on #73
Ok looks like this works reasonably well. I shall close this ticket then. Thanks for your feedback and suggestions.

[2017-03-10 09:24] #73 closed

[2017-03-13 09:10] dhruvasagar commented on #15
Hi, I am not convinced if this feature is needed. I will close this for now (been open far too long). We can look at it again in future if it becomes relevant. Thanks for your suggestions.

[2017-03-13 09:10] #15 closed

[2017-03-20 13:45] skrobul commented on #110
ok cool, let me know if there is anything I can do to help

[2017-04-04 14:08] adriaanzon commented on #70
The examples in the new Github Flavored Markdown Spec also suggest using spaces around the hyphens: https://github.github.com/gfm/#tables-extension-

[2017-04-05 01:07] dhruvasagar commented on #70
From what I checked last, this is not a requirement.

[2017-04-08 15:56] majutsushi opened #114 "Custom formulas"
At the moment table formulas can only be simple arithmetic expressions. It would be really useful if it was possible to write custom formulas that would then allow the handling of tables that contain things other than simple numbers. Thanks!

[2017-04-08 21:55] dhruvasagar commented on #114
Well the formula engine uses eval behind the scenes so you can use viml functions exhaustively as long as you understand the input that will be given to the functions you call.

Like I have the Sum, Avg, etc, it should be fairly straight forward to build more if required.

[2017-04-10 12:07] emprovements opened #115 "Cursor is jumping back to |"
Hi,
When I write "|" and space, cursor immediately jumps back to "|" and if I start write |first than "first" is indented but cursor stays between "s" and "t" like "| star_t" ( _ is cursor).
I tried to remove all my plugins and settings to run vim-table-mode only and it keeps doing it.

My vim environment is:
[code]

[2017-04-11 09:53] dhruvasagar commented on #115
Hi,

I believe this has crept in due to a recent feature addition involving auto formatting based on cursorhold. I guess it needs more tweaking, i'll have a look and fix this on priority. Thanks for reporting this issue.

[2017-04-12 09:25] jujae commented on #115
I am having the same issue where cursor constantly jump back one character while writing the table "sequentially" (| foo ba_r). When I type the word fast enough, it won't happen, seems this only happens when there is a pause.

[2017-04-13 17:35] sudavid4 commented on #115
same issue here

[2017-04-15 03:56] dhruvasagar commented on #115
For the time being you should disable the setting g:table_mode_auto_align
abd that should fix the problem. I will try fixing the auto align feature
in the meanwhile.

On Apr 13, 2017 11:05 PM, "David Susskind" <notifications@github.com> wrote:

[2017-04-18 21:04] ARandomOWL commented on #115
The table auto-align feature also seems to constantly mark the file as changed, which is rather irritating. I've disabled it and haven't seen a decline in usability of vim-table-mode.

[2017-04-20 04:45] dhruvasagar commented on #115
Will close this issue since now I have removed auto align for insert mode.

@ARandomOWL If auto align is enabled, it will realign the table when table mode is enabled and you are within the table. This will cause it to be marked as changed from time to time. I don't particularly see that as an issue since if you are moving around within the table with table mode being enabled it's fair to assume y

[2017-04-20 04:45] #115 closed

[2017-04-20 10:38] ARandomOWL commented on #115
@dhruvasagar: My annoyance was that the file was marked changed even if the table was not altered or auto-aligned. I will try out the new version, thanks.

[2017-04-20 11:37] dhruvasagar commented on #115
I understand, that can sometimes be annoying. I will add optimisations to realignment to skip changing the buffer if there are no changes applicable.

[2017-04-24 21:01] snoblenet opened #116 "Isn't automatically drawing horizontal line"
I am hoping to use `vim-table-mode` to create `grid tables` as defined by Pandoc's markdown format.

My `vimrc` includes:

[code]

In insert mode with table mode enabled, I type: `|Task|Shortcut|<carriage return>||<carriage return>`.

I expect it to result in something like:

[code]

Instead I get:

[code]

Can you advise?

Many thanks.

[2017-04-25 05:14] dhruvasagar commented on #116
Hi,

You should see something like this :

[code]

Until you add the second separator / content in the cell. However once you do that, you should see :

[code]

[2017-04-25 05:16] dhruvasagar commented on #116
Also, in order for you to add the border line you should add `||` on a new line without any spaces, that gets converted to a border line.

The above described glitch happens because of the way I distinguish whether or not it is a header border (must be immediately after a row and followed by at least one more row).

[2017-04-27 04:26] #116 closed

[2017-04-27 04:26] dhruvasagar commented on #116
Let me know if you're still facing an issue

[2017-04-27 04:26] snoblenet commented on #116
sorry -- all good

[2017-04-30 20:29] zelhar opened #117 "TableModeDisable doesn't disable the already set tables"
Hi

So this is the behavior I have noticed which I think is a bug:

1. enable tablemode
2. create a table
3. diable table mode
4. insert more text into the row just bellow the table using the table separator "|".
5. press Esc to return to normal mode
 result: The inserted into the last row is reformatted to match the table.

Is that deliberate or a bug? If deliberate than is there a way to complet

[2017-05-12 04:44] jfelchner commented on #70
I'd love to see this.

[2017-05-16 18:18] rayman22201 opened #118 "Is there a way to escape the table seperator?"
I have a table that has a code example with the pipe character in the code.
e.x.
[code]
Vim-Table-Mode treats this pipe character as a table separator, which as you can imagine,
causes strange things to happen in that table.

Is there a way to escape a pipe character so that it is not treated as a cell separator?

[2017-05-18 07:09] dhruvasagar commented on #118
As of now there isn't a way to have this. Haven't figured out a clean / simple way to achieve this. I think using something like '`'  maybe not a bad idea.

[2017-05-19 00:52] rayman22201 commented on #118
Thank you for the quick reply :)
The back-tick **'`'** character is the standard for code samples in markdown syntax.
That would be perfect for my use case, but is it too limited?

Maybe it could be configurable like the delimiter character?

I'm not very familiar with the vim-script language, but if you showed me where to look, I could try to help by submitting a pull request.

My first guess aft

[2017-06-09 02:31] shaggyaxe opened #119 "How to insert a column?"
Hopefully this is not embarrassingly obvious.  I just can't figure out how to insert a new column.
I found nothing in the docu.  I see table-mode-delete-column.  But no table-mode-insert-column.

The way I've been doing it is to vertically copy/paste a column divider to where I need it.

Thanks!

[2017-06-14 15:04] scott-mead opened #120 "Center, left, right, etc... Alignment"
I'm looking at the docs, and I see that there is something about alignment (:let g:table_mode_align_char='center')

But, I'm not quite sure how to use it.  Any tips?

[2017-06-15 04:03] dhruvasagar commented on #120
Hi,

The `g:table_mode_align_char` defaults to `:`, and that's something you put within the table headers like so :

[code]

And that placement of the char in the header border defines how the contents of the column would be aligned.

[2017-06-15 04:03] #120 closed

[2017-06-15 13:24] scott-mead commented on #120
Thanks!

On Thu, Jun 15, 2017 at 12:03 AM, Dhruva Sagar <notifications@github.com>
wrote:

--
--
Scott Mead
Sr. Architect
*OpenSCG <http://openscg.com>*
http://openscg.com

[2017-06-20 06:11] dhruvasagar commented on #119
Hi, as of now it's manual, there's no automated way of creating columns. I do understand a need for it, but it hasn't been built yet.

[2017-06-20 06:11] #119 closed

[2017-06-20 07:35] dhruvasagar commented on #118
Hi,

This is rather tricky to handle with just regex.

[2017-07-01 14:14] ashfinal opened #121 "autoformat in normal mode"
When the cursor move between lines in normal mode, some chars get auto-formatted.
Is this the expected behaviour? If so, how can I disable this?
![untitled](https://user-images.githubusercontent.com/6827900/27762757-8b086bb4-5eaa-11e7-8114-10851b4710cc.gif)

[2017-07-05 09:57] dhruvasagar commented on #121
Hi,

This has been a recent addition to table mode. You can disable it by setting `g:table_mode_auto_align` to `0`.

[2017-07-05 09:57] #121 closed

[2017-07-05 14:01] ashfinal commented on #121
Big thanks! 👍

[2017-07-10 07:07] thor commented on #69
Does the inability to edit multi-line tables, specifically without them flowing to the side as a new column, go as part of this feature request? :) I was hoping to edit the table and having the columns follow. If not, I'll create a new issue if desired.

[2017-07-15 12:18] bklaase commented on #117
I noticed this happening as well. It doesn't always happen, but after manipulating a table enough times, I noticed the buffer getting modified with tablemode disabled, as soon as the cursor went over the table.

[2017-07-29 15:41] myitcv opened #122 "Buffer modified when cursor on table line even though table mode disabled"
Thanks for a great plugin!

[code]

It seems however that the plugin is causing the buffer to be modified if the cursor is on a table line, even though I've disabled table mode.

To reproduce:

1. `:TableModeToggle` to enter table mode
2. Create a table - any table will do
3. `:TableModeToggle` to leave table mode
4. Move the cursor to a different part of the file
5. `:w` to save the file
6. Leavi

[2017-07-29 15:43] myitcv commented on #122
As a follow up, the buffer switching to a modified state can be see at ~20 secs into the video (a `+` appears beside the filename in my status line)

[2017-07-31 00:36] #122 closed

[2017-07-31 00:37] dhruvasagar commented on #122
Hi, Thanks for reporting this, I had seen this before but hadn't paid enough attention to actually think it was an issue. I have now fixed this cleanly.

[2017-07-31 00:39] dhruvasagar commented on #117
@bklaase This was a bug as a by-product of the auto align feature introduced recently. I have since fixed that issue. Thanks for your help.

[2017-07-31 00:39] #117 closed

[2017-07-31 04:36] bklaase commented on #117
great! Thank *you* for this awesome plugin!

[2017-07-31 12:56] myitcv commented on #122
@dhruvasagar thanks for the quick response. The new commit works for me!

[2017-09-15 11:34] McKean commented on #110
Hello I'm also having issues getting this to work with vimwiki.
This is the output I get when enabling table mode.
[code]
I have included the 2 points mentioned by @skrobul but that didn't help for me.

[2017-09-19 18:08] dhruvasagar commented on #110
Hi,

Sorry for the lack of response and delay. I'll take a close look at this and revert back asap. The problem is with special characters / escaping within the regex used for comparison. Might require bit of work around.

[2017-10-08 08:16] cstsunfu commented on #110
If this plugin could work with vimwiki. It will be the most powerful plugin in vim when we calculate the table.  Thanks for your work. I love this plugin.

[2017-10-08 10:39] nowakf commented on #110
+1 - would love to use tables in vimwiki.

[2017-10-09 04:22] dhruvasagar commented on #110
Can someone share an example vimwiki document where I can try this ? I have more time on my hands now, will act on this fast.

[2017-10-09 08:37] nowakf commented on #110
Here:
[Merse108.zip](https://github.com/dhruvasagar/vim-table-mode/files/1367901/Merse108.zip)

[2017-10-09 15:15] #110 closed

[2017-10-09 15:16] dhruvasagar commented on #110
Hi, I have made changes to get it to play nicely with vimwiki.

However In order to use vim table mode over vimwiki native table formatting
support you need to add the following vimwiki settings to your vimrc :

[code]

[2017-10-09 15:17] dhruvasagar commented on #110
With those settings vim table mode seems to be working fine within vimwiki documents. Kindly use it more and let me know if you face any other issues.

[2017-10-09 15:18] dhruvasagar commented on #47
Kindly refer to #110 for info regarding fix made to allow vim table mode to work with vimwiki.

[2017-10-09 15:21] dhruvasagar commented on #110
Btw @skrobul this fix doesn't require changing the comment string to something else, however that change shouldn't create further issues. Regarding getting it working, well it just required also disabling vimwiki auto formatting for tables which was causing some interference, once that is disabled with the `g:vimwiki_table_auto_fmt=0` setting it seems to work as expected.

[2017-10-09 15:44] nowakf commented on #110
Awesome!

[2017-10-09 17:52] McKean commented on #110
strange, this is not doing it for me. I get the following error when I want to turn on Table Mode. This only happens in VimWiki...
[code]
on neovim 0.2.0

[2017-10-09 18:04] dhruvasagar commented on #110
Are you sure you updated vim-table-mode to the latest commit ? The error isn't indicative of that.

[2017-10-09 20:48] nowakf commented on #110
Works for me, just ran :PlugUpdate, and everything's golden. Thanks so much for this awesome plugin.

[2017-10-09 22:09] skrobul commented on #110
sorry, I'm bit late to the party. Just tested new version and it works, awesome!!! Thank you!

[2017-10-10 07:45] McKean commented on #110
@dhruvasagar whoops, didn't update, didn't read your comment properly and thought the config lines were all there was. Works like a charm, thanks!

[2017-10-28 15:04] compleatguru commented on #18
Hi @dhruvasagar , I am keen on this merged cell feature too!
Your code on this is really awesome!
This is somehow related with #50 .

[sample.txt](https://github.com/dhruvasagar/vim-table-mode/files/1424346/sample.txt)

[2017-10-28 18:00] dhruvasagar commented on #18
@compleatguru This isn't really related to #50, that PR is to work with multi line headers, the reason it's not merged in is because I don't really think it's needed. Moreover the PR isn't entirely compatible with a bunch of table mode ideas.

Merged cells also add complexity for formula engine, something I am not entirely keen on adding for the same reason. I'll revisit this however and see if it

[2017-12-11 06:43] roneyrao commented on #118
markdown recognize backslash, e.g. `\|`.
I generated a piece of markdown js docs by [jsdoc-to-markdown](https://github.com/jsdoc2md/jsdoc-to-markdown), this escape style appears and works fine both in my tool and github.

[2017-12-13 16:18] dhruvasagar commented on #118
@roneyrao That is a sensible choice. I did try a bit in the past to add support for that but the regex is becoming a bit more complex than I would have liked it to be. I'll give it another shot.

[2017-12-13 16:19] dhruvasagar commented on #114
Let me know if you guys need any more input regarding the same. Perhaps more documentation / examples ?

[2017-12-13 16:21] dhruvasagar commented on #107
Should we exported it to a user defined path or just in a new buffer ?

[2017-12-15 05:52] compleatguru commented on #18
Thanks for the update

[2017-12-23 04:24] roneyrao commented on #118
thanks for your time.

[2017-12-27 19:37] dhruvasagar commented on #118
I have added initial support for this. So far alignment and border creation respect escaped table separators as expected, however work is required to have cell motions & formula engine to take these into account correctly. Seems like this requires a bit of refactoring to build a generalized abstraction for this and avoid duplication of code.

[2018-01-01 18:57] Kcorab opened #124 "An underscore char ('_') in a cell cause in wired glitches"
An underscore char ('_') in a cell of the first or the last row breaks the formatting and the cells above and below.

edit: commit 322503e814c49416f0267f3bbeb87e1b495f0449

[2018-01-02 02:44] dhruvasagar commented on #124
Can you share a quick screencast / asciicast ? I'll have a look

[2018-01-04 06:48] #124 closed

[2018-01-04 07:59] dhruvasagar commented on #118
I will close this issue since I have added support for this, if there are any issues or concerns let me know. Thanks guys.

[2018-01-04 07:59] #118 closed

[2018-01-04 18:10] klassegeljakt opened #125 "Undo / Redo"
It takes many undos to undo a table update, and table updates mess up redos. Would it be possible to do an undojoin on every table update so that undos/redos are less cumbersome?

[2018-01-05 04:16] qianlei90 commented on #124
![_deepin-terminal_20180105121453](https://user-images.githubusercontent.com/5654791/34595344-291584ea-f212-11e7-9144-8869cb772768.gif)

[2018-01-05 05:07] dhruvasagar commented on #124
Is this in the latest update ? Looks odd, will check again.

[2018-01-05 05:09] dhruvasagar commented on #124
Nope, looks like you just have to update to the latest, it should be working as expected now.

[2018-01-05 05:09] dhruvasagar commented on #124
Thanks for your help.

[2018-01-05 05:11] dhruvasagar commented on #125
I believe I am doing so for the most part, can you perhaps screencast a specific scenario ? Any bulk updates I provide like removing a column, row, etc are all done to ensure they are atomic in the sense that undo / redo will respect those as single change using undojoin.

[2018-01-17 17:42] k33nice commented on #107
IMO, buffer would be better. User may not want to save it to fs, on the other hand buffer can be easily saved if needed. Thus it will be more flexible.

[2018-01-19 14:51] jeetsukumaran opened #126 "Buffer always reverts to modified state (even with no modification)"
With ``TableModeEnable``, the buffer ``&mod`` is always set, even if there are no modifications or the buffer was just been written to disk. Writing the buffer (``:w``) briefly clears the ``&mod`` flag to 0, but then it is very quickly set again. The only way to quit a buffer is to ``:wq``.

[2018-01-19 14:55] dhruvasagar commented on #126
This is because we're realigning the contents of the table frequently with g:table_mode_auto_align enabled. One way to deal with this is to remove the auto align feature and rely on the alignment provided as you edit the table or do it manually.

[2018-01-19 16:05] jeetsukumaran commented on #126
Ah, that makes sense.

I wonder if there might a way to hook the auto aligning to follow actual
changes/edits in the buffer, rather than unconditionally periodically?

Maybe instead of unconditionally autoaligning on CursorHold, a
conditional here which checks if &modified is true, and only then align?

For e.g.:

       autocmd CursorHold <buffer> nested silent! call
tablemode#table#RealignIfModi

[2018-01-19 16:15] dhruvasagar commented on #126
Very good suggestions 👍, I'll work on adding these.

[2018-01-22 11:30] #126 closed

[2018-01-22 11:31] dhruvasagar commented on #126
Refraining from BufWritePre since I don't believe that is necessary, however I have added the auto align feature for insert mode as well even though in the past I was facing issues with it but didn't seem to do so anymore. Kindly let me know if you face any issues. Thanks for the suggestions and helping me improve the plugin.

[2018-01-22 18:08] jeetsukumaran commented on #126
Thanks! This is a GREAT plugin --- one of my indispensables --- and happy to see so much continued support.

The updates work fine so far. The only reason for hooking in ``BufWritePre`` would be the corner case were some makes a change and immediately/quickly afterwards types in ":wq" or ":w". I.e., essentially writing the file and clearing the ``&modified`` flag before enough time has elapsed for

[2018-01-22 18:15] dhruvasagar commented on #126
I think however, that can be left to the end user perhaps? May give it some thought, in general I expect that someone using the plugin may want to disable table mode before leaving / going away however I can imagine that to not always happen. Might give it some thought, it's just a question of whether or not this belongs to the plugin itself or a user configuration.

[2018-02-12 13:23] torpak opened #127 "table resize changes corsor position"
whenever inputting something in a table cell, that causes it to resize, the cursor is put in a position one before the end of the current input as far as i could find out.
So entering

``|123``

in tablemode gives me:

``| 231``

What am i doing wrong?

[2018-02-12 13:56] torpak commented on #82
@brettdh i havn't tried it, but maybe you could insert a character, the plugin doesn't recognize as whitespace at the start of the line and have your indentation behind that.
@dhruvasagar would a non [break space character](https://www.fileformat.info/info/unicode/char/00a0/index.htm) work for that?

[2018-02-12 19:47] jeetsukumaran opened #128 "Autoalign on Insert Mode makes typing in impossible if cell is right-aligned"
The CursorHold trigger fires on any real pause when typing, which results in all characters already typed to be flush/aligned right and the next character you type then gets inserted to the left of the word/text/number etc.

Suggestion: only auto-align when exiting from insert mode.

[2018-02-13 03:02] dhruvasagar commented on #128
I agree auto-align does cause a lot of issues.

[2018-02-13 03:04] #128 closed

[2018-02-13 03:06] dhruvasagar commented on #127
Nothing I believe this is a result of an issue with trying to auto-align while in insert mode. I have fixed this by avoiding auto-align during insert mode using CursorHoldI, instead now I do it when you leave insert mode, along with being able to manually align / align on entering the table mode separator. It should work better with the latest changes.

[2018-02-13 03:06] #127 closed

[2018-02-13 03:11] jeetsukumaran commented on #128
THANKS! As always, appreciate the work!

[2018-02-20 19:39] ffledgling commented on #69
Bump, multiline cells and/or fixed cell width for auto wrapping would be great to have!

[2018-02-23 19:14] D1mon opened #129 "how to merge multiple columns?"
[code]

Example:
I combined "name" and "address" in the second line(row). How can I do that?

|  | 221B Baker Street        | 0987654321 |

You can put "|", but then you get 3 columns, but you need to somehow do it so that there are 2 columns (one combined).

[2018-02-27 10:48] dhruvasagar commented on #129
This is a highly requested, but unimplemented feature. It's just hard to do it neatly without adding some meta info within the table to signify the merging of cells. I am still not a 100% convinced if this should really be implemented since it isn't exactly aligned with the goals of this plugin. However I am open to PRs and may try some strategies in near future myself since this has been a highly

[2018-02-27 13:03] D1mon commented on #129
Yes, you can try it. This is really a very useful feature.

[2018-02-27 13:50] #125 closed

[2018-02-27 13:50] dhruvasagar commented on #125
Hey, kindly reopen this issue if you don't think it's working as desirable.

[2018-02-27 13:55] dhruvasagar commented on #129
Closing this, will update #18 if there's any update on this.

[2018-02-27 13:55] #129 closed

[2018-02-28 01:26] wmusial opened #130 "Command to insert a new column"
Creating a new column manually in an existing table is doable annoying. Would be nice to have "insert column left/right of cursor" commands.

[2018-03-08 15:23] sittim opened #131 "Table mode adjusts even when it is disabled."
After I disable table mode `<leader>tm`, tables still get adjusted, even if I do not want them to.

[2018-03-09 01:44] dhruvasagar commented on #131
Are you running on the latest code ?

[2018-03-09 12:56] sittim commented on #131
Yes, for sure.  I use plug and update it once a week.

[2018-03-11 17:45] pmalek opened #132 "Sometimes cursor stays on the current cell when pressing |"
Sometimes when I press <kbd>|</kbd> (pipe) the cursor stays on the same cell in the table so that I have to manually change the cell either.

Gif:
![tty](https://user-images.githubusercontent.com/739996/37256543-7c3cbd46-255c-11e8-9cff-064ba1854d79.gif)

I use neovim (from master branch, version: v0.2.3-821-gd53aa0e94) and `vim-table-mode` is in default configuration

[2018-03-11 18:52] dhruvasagar commented on #132
Likely culprit is auto-align feature, although i've tried to address this from recent commits but there still could be a small timing window within which this may happen. Are you sure you're running the latest vim-table-mode ?

[2018-03-11 19:37] pmalek commented on #132
I just cloned it

[code]

this happens most often when e.g. I use long cells (lots of text) above and then short ones (small amount of text) below (in those short ones  the cursor gets stuck).

[2018-03-15 08:30] dbger commented on #132
It's same in vim8(ms windows)
I found it's no problem when first press 'SPACE' key then press '|'.

[2018-03-15 09:52] dhruvasagar commented on #132
Ok, will take a deeper look.

[2018-03-16 19:56] miostreams commented on #131
I experience the same issue. However, if I exit the file and re-open it, the module stays off.
In other words:

1. Open file for editing
2. \tm to enter table mode
3. Do some tabling stuff
4. \tm to toggle table mode off
5. Do some more playing around with data -- notice that tables keep adjusting
6. :wq to save and close the file
7. Reopen the file and do some more table editing -- no auto adjust

[2018-03-16 20:11] sittim commented on #131
Yes, that's what I do and it works, but it does break up the workflow, so it is somewhat annoying.

[2018-03-16 20:14] miostreams commented on #131
Ok, I just went in and completely removed all of the previous table-mode stuff (just cleaned out everything under .vim) and then grabbed it again from git, and I'm no longer seeing this behavior.

[2018-03-17 02:36] #131 closed

[2018-03-21 23:10] sjhorst commented on #132
This is a great plugin, thanks! I can replicate this bug on Vim8 custom compiled on Ubuntu 16.04.  I also just cloned today, using default configuration. The behavior and conditions are the same as pmalek describes.

[2018-03-22 04:11] #132 closed

[2018-04-12 04:00] bit-garden commented on #130
While this is not a solution, you could change your corner char to |, then use [textobj-word-column](https://github.com/coderifous/textobj-word-column.vim) and you can quickly select and yank a column line, then paste it.

This does have some gotchas, like pasting just pipes at the start of the lines. This plug-in also makes it super fast to select and move columns too.

[2018-04-12 04:06] dhruvasagar commented on #130
Thanks for the suggestion, i've been meaning to add first class support for this though. Should get around to it.

[2018-04-12 18:59] bit-garden opened #133 "Suggestion: Sort fragments of tables"
Most of my use cases involve a table formatted like
[code]

But after a table sort, I get
[code]

When I expect

[code]

I have remedied with my own macro, but I feel there should be a cleaner, safer way to do this.
[code]

[2018-04-14 16:34] unsigned-nerd commented on #107
I understand that you want to export vim-table-mode table into CSV through VimL.  I need that feature too as I use vim-table-mode to keep a log of expenses while I work as a tour guide for a group of people.  After each trip, I have to convert it into LibreOffice Calc file and add spreadsheet formulas in order to charge the expenses to each of them.  My customer expect to get the report in Microso

[2018-08-23 19:29] camio commented on #82
I ran into this issue as well. Any kind of code block within a table gets its leading spaces removed.

[2018-08-23 19:31] camio commented on #82
The no break space character doesn't work unfortunately.

[2018-09-21 14:58] seaspeak opened #136 "Tableize two consecutive the same pattern?"
After `:Tableize/\t`, result is:

But I'm expecting:

Is this behavior what you want? Why?

[2018-12-06 10:54] Timoses commented on #82
+1

[2018-12-19 21:00] idbrii opened #138 "Promote airline indicator in readme?"
There's an extension to add a table-mode indicator to a vim-airline statusline: https://github.com/retorillo/airline-tablemode.vim

Maybe you want to promote it in the README? If not, hopefully this issue will point people in the right direction.

[2019-01-04 01:22] jjisnow opened #139 "Feature Request: reformatting tables"
Love the plugin - would love some kind of mechanism to switch the format of the tables from different styles of tables quickly. Something along the lines of:

<leader>tf github   //switch selected table to github style table formatting

[2019-01-08 01:21] dhruvasagar commented on #139
Thanks for the suggestion, i'll look into this.

[2019-01-17 12:58] riendegris opened #140 "plugin issue with markdown"
Hello,

I have an issue whereby the plugin does not reallign columns correctly when the file is in markdown,
but it works in text. I've reproduced this problem with both vim (8.1) and neovim (0.3.4) on linux. In both cases, the configuration is

[code]

If I make some modifications to a file `test.md` (*markdown* _is_ important), enable Table Mode, the plugin will sort of squeeze the column separa

[2019-01-21 09:07] lluke777 opened #141 "How to get negative indices inside formula?"
Hi. Great plugin :)
I am getting error using negative idices inside formula. How to properly call coordinates of last row and row before last inside such a formula?

`tmf: $-2,3=$-2,2*$-1,3`

In this example I want to put result in `(here)` place as a multiplication of Total and Tax.

[code]

[2019-01-21 09:40] dhruvasagar commented on #141
Hi,

Actually, negative indices is supported only for the target row reference, not for inline within the formulas. I'll see if I can quickly add this and push.

PS : Why do you have 2 formula lines ? I am guessing that's a typo, you specify multiple formulas by separating them with `;` on the single formula line.

[2019-01-21 09:50] #141 closed

[2019-01-21 09:53] dhruvasagar commented on #141
Hi, having multiple formula lines also works, it was added via a pull request I forgot about. Thanks for your report, kindly have a look, it should work as expected with the latest changes.

[2019-02-06 22:56] nathanbraun opened #142 "unexpected internal seperator in horizontal line for markdown"
Hi there, I'm trying to use this plugin with pandoc, and so I have the following options on:

let g:table_mode_header_fillchar='='
let g:table_mode_corner_corner='+'

When I enter a table in a markdown file I see (note the |'s on all the internal linebreaks):

[code]

Vs what I want, and see when I do it in a regular text file:

[code]

Any idea what's going on?  Just started with this plugin so I

[2019-02-07 04:12] nathanbraun commented on #142
I figured it out, table_mode_corner wasn't set properly even though I put it in my vimrc.  I fixed it by adding a file to change it after/ftplugin directory.

[2019-02-07 04:12] #142 closed

[2019-02-12 08:52] rysson commented on #18
Awesome plugin!
Yes, it will be great to get merging.

About syntax, it could be separator without space, (eg. `||` for span 2 columns, `|||` for 3 etc.).
This syntax is used in some markdown engines.

See: https://stackoverflow.com/questions/46621765/can-i-merge-table-rows-in-markdown

[code]

[2019-02-16 21:57] Bersp opened #143 "Only use the alignment feature for csv files"
Hello,

First, thanks! I love your plugin, works really good for me.
Now, I wanna know if it possible only use de alignment feature in csv files.
For example:
I wanna convert this
[code]
to this, every time I update de table
[code]
or something similar, easy to read but still using de CSV format.

Sorry for my english,
Thanks in advance!

[2019-02-20 02:59] kaymmm commented on #142
@nathanbraun Can you explain your fix please? I'm encountering the same issue. I'm setting the correct value in my vimrc, however the plugin seems to be resetting the value to `|` after the fact according to my log file. I'm not sure if this is a problem with vim-plug, my vimrc, or this plugin, but it's annoying. FWIW, Vim-plug should be loading this plugin at startup since I'm not doing any fancy

[2019-02-20 03:14] nathanbraun commented on #142
My solution is sort of hacky too.  I'm using neovim, and what worked for me was to create the file:

~/.config/nvim/after/ftplugin/pandoc.vim
(my understanding with regular vim is that this would be  ~/.vim/ftplugin/pandoc.vim, but I haven't tested it)

with just the one line:

let g:table_mode_corner='+'

[2019-02-20 04:03] dhruvasagar commented on #142
There are 2 separate settings `g:table_mode_corner` and `g:table_mode_corner_corner`, you need to set both for this I believe. Refer to `:help table-mode-corner` and `:help table-mode-corner-corner` for details

[2019-02-20 04:08] dhruvasagar commented on #142
There's an `ftplugin/markdown.vim` that adds a setting `let b:table_mode_corner='|'`, this came from a PR.  I believe this is the right setting based on gfm spec.

[2019-02-20 16:22] kaymmm commented on #142
@dhruvasagar you just solved the issue with the markdown.vim corner setting (I was already setting both `corner` and `corner_corner`). The problem is that markdown files can also be used with Pandoc, which allows for `+` grid tables but dislikes certain types of pipe tables.

I can see the potential benefit of setting the value on a per-filetype basis, but maybe that should be modifiable through a

[2019-02-27 15:54] riendegris commented on #140
I think this 'error' that I am seeing is a side effect of the automatic detection of corners according to filetype (commit 5c3c30). I use pandoc to transform my markdowns, and pandoc has a plugin to accept ReST style tables in markdown.

[2019-03-10 14:32] TimmFitschen commented on #142
Work-around with (non-neo-)vim version Gentoo-8-0-1298: Add a `pandoc` filetype plugin and set the *per-buffer* variables like this:

[code]

thanks to @nathanbraun

[2019-03-11 03:46] dhruvasagar commented on #142
The elegant workaround for this, like suggested by @nathanbraun, is to do it in an `after/ftplugin/markdown.vim` that will override these markdown settings added by our ftplugin. I think that's a reasonable approach.

[2019-03-19 16:32] ElModdy opened #144 "Conflict with vimwiki"
The plugin works fine but when the extension is for example .md, vimwiki overwrites the settings.
![screen](https://user-images.githubusercontent.com/18534491/54623678-4c632480-4a6c-11e9-9fb0-0ba991635fec.png)
My .vimrc looks like this:
[code]
I really appreciate any kind of help.

[2019-03-19 16:35] dhruvasagar commented on #144
There's a ftplugin/markdown.vim that adds some settings for table mode to make it work as per gfm spec. If you need to override any of those, you'll need to do so in a after/ftplugin. Kindly refer to #142.

[2019-03-19 16:53] ElModdy commented on #144
Thanks for the reply.
Sorry for my ignorance but I don't have any "ftplugin".

[2019-03-19 20:32] ElModdy commented on #144
Solved

[2019-03-19 20:32] #144 closed

[2019-03-20 17:31] aloneinkyoto opened #145 "Option to not align table cell text"
I'm working with pandoc markdown grid tables.

When vim-table-mode aligns the table text for e.g. centered or right aligned columns, it inserts spaces to visually align the text in the editor.

When processed by pandoc, this can result in the table text being rendered as a code listing - this is because text preceded  by 4 spaces is interpreted as a code block by pandoc.

Would it be possible for

[2019-04-04 21:16] elig0n opened #147 "'||' header border expansion not working"
`||` does not expand but `|-|` does.

`g:table_mode_separator` is `|`
`g:table_mode_corner` is `+`
`g:table_mode_corner_corner` is `|`

[2019-04-11 19:05] zelhar opened #148 ".md filetype overrrides .vimrc settings"
I have set the following configuration in my .vimrc. in order to conform with pandoc markdown table format:

[code]

Now it works fine unless I edit an .md file type (which therefore defeats the purpose of my above settings). When I open such a file type, the variables are redefined to '|' (corner) and '-' (header fillchar).  The global settings remains as in the .vimrc. it looks like somewhere th

[2019-04-11 19:24] zelhar commented on #148
So, it seems like there is a simple override which is to put the buffer variables in '.vim/after/ftplugin/markdown.vim' :

[code]

Sorry for spamming.

[2019-04-12 01:14] dhruvasagar commented on #148
Yes, this has been raised as an issue a number of times by now. I will add this to the documentation to make sure people are aware. Thanks.

[2019-04-12 01:14] #148 closed

[2019-04-12 11:38] andrewbriggs commented on #118
@rayman22201 "Is there a way to escape the table seperator?"

First grade starts with spelling separator correctly.

[2019-04-15 09:29] skajfes opened #149 "Text object i| skips last character in cell"
When I want to yank or change cell contents using text object i|, ie: `yi|` or `ci|`, the last character in the cell gets skipped.

[2019-04-15 09:31] dhruvasagar commented on #149
Can you give an example ? I haven't seen this happen.

[2019-04-15 13:13] skajfes commented on #149
Alright, minimal example is this:

`| column |`

When I position the cursor on the letter c (or anywhere in the column) and press `di|`, this is the result:

`| n |`

[2019-04-15 13:39] dhruvasagar commented on #149
Ok this is very odd, I expected some weird scenario so asked for an example, will take a look, thanks for reporting.

[2019-04-25 17:20] dhruvasagar commented on #149
Hi, I am unable to reproduce this. Which filetype are you facing this issue in ? It may be due to some other plugin with conflicting mapping.

[2019-04-25 17:27] dhruvasagar commented on #147
Which filetype ? I am not able to reproduce this.
If there's no previous row, it should create `|-+-|`, also do double check the settings for the filetype / buffer to make sure it's not being overriden from a ftplugin or autocmd.

[2019-04-25 17:29] dhruvasagar commented on #143
I would suggest to use another plugin better designed for this feature. github.com/godlygeek/tabular is what i've used a lot and it does the job well.

[2019-04-25 17:29] #143 closed

[2019-04-25 17:43] #133 closed

[2019-04-26 07:41] skajfes commented on #149
OK, I looked a little better at my config and found the source of the issue. I use `mswin.vim` in my config.
And it sets the selection option to exclusive. Adding `set selection=inclusive` to my config fixed the issue for me. Side benefit is that the inclusive selection makes much more sense, since the cursor for selection and normal mode is a block covering the letter.

[2019-04-26 07:52] dhruvasagar commented on #149
Good to know, closing the issue for now.

[2019-04-26 07:52] #149 closed

[2019-04-26 07:54] dhruvasagar commented on #133
TableSort now supports ranges, so you can visually select a range of rows and invoker table sort on it

[2019-05-04 15:13] elig0n commented on #147
As I can't reproduce it now either (and plugin was upgraded a few times as well)  I'm closing it

[2019-05-04 15:13] #147 closed

[2019-05-22 06:19] sheoak opened #150 "Mapping ,tm not using <Plug>"
I think the mapping for ,tm is not using <Plug> and can interfere with user mappings (I have ,t mapped already).

https://github.com/dhruvasagar/vim-table-mode/blob/865563f78506b8090d3839644bc667493b4b68f4/plugin/table-mode.vim#L62

[2019-05-22 10:05] sheoak commented on #150
Sorry I just realized there was an option by trying to prepare a pull request.

For information if someone has the issue:
`let g:table_mode_map_prefix = ',i'`

[2019-05-22 10:05] #150 closed

[2019-05-26 17:40] idnsunset opened #151 "Auto formatting doesn't work well with ReST table"
For table cell spanning rows/columns, or table cell content containing vertical bars, the auto formatting behaves incorrectly. Am I missing some options or the plugin doesn't handle this kind of situations?

[2019-05-27 01:24] dhruvasagar commented on #151
Can you share an example ?

[2019-05-30 01:24] thawk opened #152 "Support for basic asciidoc table"
The basic simplest [asciidoc table](https://asciidoctor.org/docs/user-manual/#tables) is like the following:

[code]

The basic and simplest roles are:

1. The table’s content boundaries are defined by a vertical bar followed by three equal signs (``|===``).
2. The new cell is marked by a vertical bar (``|``).
3. Rows can optionally be separated by any number of blank lines.

Table-mode is working

[2019-08-30 14:34] sbliven opened #153 "[Enhancement] Add row- and column-wise editing"
I would love to see some commands in table mode to rearrange rows/columns.
- Move a whole row up/down or a column left/right
- Yank a column and paste elsewhere
- Insert (#130, #119) and delete rows/columns

[2019-09-07 07:25] jm33-m0 commented on #151
basically it looks like this:
[code]

[2019-09-07 07:26] jm33-m0 commented on #151
it should look like this, however
[code]

[2019-09-07 12:37] dhruvasagar commented on #151
For me, it does look like this :
[code]

[2019-09-07 12:38] dhruvasagar commented on #151
Or like this with the additional border in between the 2 rows :
[code]

[2019-09-07 12:42] dhruvasagar commented on #151
It will look like this :
[code]

With the following settings :
[code]

[2019-09-08 02:40] dhruvasagar commented on #151
@idnsunset @jm33-m0 sorry I just realized this was for rst files. So for this issue I will direct you to #142

[2019-09-08 02:40] #151 closed

[2019-11-03 09:10] oblitzitate opened #156 "TableSort only sorts first column"
The issue is `:TableSort[!]` only sorts first column regardless of where the cursor is. Whereas `<Leader>ts` seems to work fine for any column.

I'd also like to suggest a key binding for sorting in _descending_ order.

[2019-11-04 03:25] dhruvasagar commented on #156
@oblitzitate Thanks for reporting this, I was testing the code and from the looks of it this seems to be a bug with vim itself. For some reason the cursor position is altered (`col('.') returns 1`) when calling via a command as opposed to the mapping. I will try to get back to this and test more if there's a way to avoid this.

[2019-11-05 04:42] roneyrao commented on #109
Why not add them automatically?

[2019-11-05 04:50] dhruvasagar commented on #109
Well I think there's a valid case for this, I am willing to add support for a separate configuration to enable automatic border creation perhaps and when that is enabled, `:Tableize` would automatically add borders between each line. But then, it would also add borders when you manually add a row to the table.

The reason auto  border creation was removed was because it was less desirable, borders

[2019-11-16 14:59] I-am-the-doctor opened #157 "Deletetion of rows and columns delete too much"
If g:table_mode_delete_row_map or g:table_mode_delete_column_map  is typed with a count bigger than 1, more than the specified count of rows or columns get deleted.

For example with a count of 2 the 4th row is also deleted:
Before:
[code]
After deleting 2 rows:
[code]
Expceted:
[code]

[2019-11-16 18:12] #157 closed

[2019-11-24 09:48] #31 closed

[2019-12-02 18:38] varac opened #159 "Better support for whitespace delimiter"
I'd like to create a table out of this:

[code]

When I use `:Tableize/ `, the table looks like this:

[code]

which makes sense from a technical point of view.

The desired table would be:

[code]
So there should be an option to consider subsequent delimeters without anyting in betweeen as one, or a special treatment for whitespace delimiters in this case. What do you think ?

[2019-12-02 18:52] dhruvasagar commented on #159
You can use this `:Tableize/\s\+` to get the same result as you expect above. The portion you specify for the command `:Tableize` is a regular expression (vim regex) and you can use a modified version that makes sense for your use case.

[2019-12-02 18:52] #159 closed

[2019-12-10 12:25] lancekrogers opened #160 "Sorting only works for first character when sorting a column of ints"
Table ordering a column of ints sorts by first digit only

column with values 1-12 sorts like this: [1,10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9]

[2019-12-10 20:55] dhruvasagar commented on #160
@lancekrogers TableSort leverages `:sort` by column, `:TableSort n` should work better in this context but you can also work with more complex patterns, I would recommend read `:h :sort`.

[2019-12-10 20:55] #160 closed

[2019-12-10 21:13] #156 closed

[2019-12-15 11:33] jcromero commented on #64
Why is this issue open if you now can escape the `|` char as `\|` to be ignored as column separator?

[2019-12-15 20:07] axil opened #161 "Add (realign) to tutorial"
Table created. Header changed. Table needs to be realigned. Otherwise it is not a valid rst anymore.

`\tr` realigns it.

This is basic functionality. I had to search for it in the sources. I'd suggest adding it to the plugin description right after table creation. It is way more important for ordinary users than formulas or sorting.

[2019-12-15 20:10] axil commented on #64
@jcromero I confirm, this is no longer an issue now, safe to be closed. Thanks, @dhruvasagar!

[2019-12-15 20:10] #64 closed

[2019-12-15 20:57] dhruvasagar commented on #161
@axil Sure, i'll add it in the README, however, it is mentioned in `:h table-mode`, that's generally a much more detailed place to look for documentation.

[2019-12-17 19:08] #161 closed

[2019-12-17 20:07] axil commented on #161
I knew it should be somewhere! Thanks )

[2019-12-30 23:52] oeuftete opened #162 ""E866: (NFA regexp) Misplaced {" on toggles, realign"
I've been seeing this in recent versions (currently, 0af25d72ebc0271648c8f91c0ce5c59174d2761b) in a couple of my environments.  I suspect this may be an interaction with some other plugin since no one else seems to be seeing it, but at a loss into how I might fix it.  I've tried some manual bisection with this plugin and the presence of other plugins, but not able to pin this down.

Enabling:

[co

[2019-12-31 02:07] tpthian opened #163 "Support for spanning columns and rows?"
Hi @dhruvasagar ,

It's wonderful to have your plugin to VIM. I'm trying to work on the spanning multiple rows and columns via vim-table-mode. So far, I haven't been able to achieve that. I tried to look for online help but to no avail. Would you mind sharing how I can do that?

This is what I want to achieve:

[code]

And yet this is what I get
[code]

I copied and pasted the above TABLE 1 into v

[2020-01-01 16:12] idvorkin commented on #162
I can repro with:
[code]
I suspect the problem is the liquid plugin, as when I ```set ft=markdown``` before enabling it works.

[2020-01-20 06:06] BSDxxxx opened #164 "Can't delete column"
:TableModeDeleteColumn

:mess

E492: 不是编辑器的命令: TableModeDeleteColumn

[2020-01-20 07:33] dhruvasagar commented on #164
@BSDxxxx Can you share some sample table text on which you attempted to do this ? Also let me know which column you attempted to delete.

[2020-01-20 08:09] BSDxxxx commented on #164
@dhruvasagar

[code]

can't delete any column, same error message above.
Also can't see 'TableModeDeleteColumn' command in command list
I'm using vim8.1 in cygwin.

[2020-01-20 11:10] BSDxxxx opened #165 "Can't use [| or ]| to move left/right in table"
{| and }| works fine, I tried :

[code]

but won't work. What should I do next?

[2020-01-20 15:18] dhruvasagar commented on #164
@BSDxxxx There is no command `:TableModeDeleteColumn`, there is a mapping provided which is mappinged to <kbd>\<Leader>tdc</kbd> by default for deleting a column

[2020-01-20 15:18] #164 closed

[2020-01-20 15:23] dhruvasagar commented on #165
Can you tell me the output of `map [<Bar>` and `map ]<Bar>`?

[2020-01-20 15:26] BSDxxxx commented on #165
@dhruvasagar
[code]

[2020-01-23 00:59] tsuyoshicho opened #166 "ftplugins solve rule?"
Currently

[code]

To correct work change below?

[code]

I knows that vim search and load rule are `<plugin>.vim` and `<plugin>/*.vim`

[2020-01-23 02:08] dhruvasagar commented on #166
@tsuyoshicho If you check `:h ftplugin-name` you'll see that `<plugin>_text.vim` is also a supported format, I used that to avoid having unnecessary folders, since we only have 2 ftplugins for the time being, it's more convenient to manage them all in a single place.

Is there an actual issue you're facing ?

[2020-01-23 02:08] #166 closed

[2020-01-23 02:22] tsuyoshicho commented on #166
oh sorry

[2020-01-23 03:11] dhruvasagar commented on #166
@tsuyoshicho No worries, glad to help.

[2020-01-24 18:00] Corey-Keller opened #167 "[Request] Horizontal Tables"
What I have:
[code]

What I want:
[code]

This works as-is, (sort of, at the end I have to manually delete the === row and replace it with a regular one), but there's no way of visually distinguishing the header column.

EDIT: I've updated it with a potential way of distinguishing the header column.

[2020-01-28 14:58] ttrei opened #168 "Incorrect horizontal line separators when editing markdown with Neovim"
From README.md:

[code]

When editing a markdown file (extension .md or .markdown) using Neovim 0.4.3 (Debian testing), the horizontal line looks **different**:
[code]

I get the expected behavior when editing a non-markdown file (e.g., test.txt).
I also get the expected behavior when using Vim 8.1, irrespective of the file extension.

I minimized my configuration to avoid interactions with other

[2020-01-28 15:03] dhruvasagar commented on #168
@ttrei Hi, thanks for reporting the issue, I will refer you to this - https://github.com/dhruvasagar/vim-table-mode/issues/148, from what I understand the defaults provided for markdown are as per spec, however, as you'll find in that issue, you can override those if required.

[2020-01-28 15:03] #168 closed

[2020-01-28 15:17] ttrei commented on #168
Thanks!

Btw this was not true, I made a mistake:

Looks like Neovim and Vim behavior is the same here.

[2020-01-28 15:22] dhruvasagar commented on #168
@ttrei I expected that to be the case, thanks for confirming.

[2020-01-29 21:28] dhruvasagar commented on #167
@Corey-Keller I am not quite sure how useful this is. I have never seen this table format used for something practical that I know of. Can you share some background on the use case ?

[2020-01-29 22:45] Corey-Keller commented on #167
It's in a vim help file. Really the 'use case' was just that I didn't like all the wasted vertical space (the vertical table took up maybe 1/3 of the 80 character width, but fit perfectly horizontally.

[2020-03-05 16:23] oeuftete commented on #162
Found it.  The `vim-markdown plugin` supports fenced languages to format inside code blocks.  I had `jinja2` as a supported language there.  The `Vim-Jinja2-Syntax` plugin does this:

[code]

And that's what `commentstring` was set to in my buffer.  That gets read by `tablemode#table#GetCommentStart()`, and ends up in a format in the syntax match that is not valid.

Not sure what the right fix is

[2020-03-08 05:35] dhruvasagar commented on #162
@oeuftete Interesting, thanks for looking into this. Is `setlocal commentstring={#%s#}` valid and / or is `setlocal commentstring=` a valid alternative for jinja2 ?
As a work around it is also possible to just alter that within the markdown ftplugin perhaps. If however, the former commentstring is the right one to be used, then it would require a bit of escaping within the regex builder that uses

[2020-03-09 08:26] #165 closed

[2020-03-10 02:07] oeuftete commented on #162
@dhruvasagar I believe `{#%s#}` is the appropriate `commentstring` for jinja2.  `` is not appropriate for jinja2, but is of course perfectly sensible for markdown.

I think (?) the real problem here is that the _syntax_ file for jinja2 is setting `commentstring`, and this should not be set in a syntax file, but in an ftplugin file.  Because it is in the syntax file, it gets sets when the markdown

[2020-03-12 09:42] dhruvasagar commented on #162
@oeuftete Thanks a lot, I am going to close this issue for the time being, feel free to reopen this if you think otherwise and if there's something we'll need to do additionally in vim-table-mode

[2020-03-12 09:42] #162 closed

[2020-03-20 14:22] ejiek opened #170 "Releases State"
There were no releases from April 2017 but project is maintained and updated.
Have you decided to give up on them?

I'm wondering because there is an [Archlinux package in AUR](https://aur.archlinux.org/packages/vim-table-mode/) which is based on you releases.
If you are not planning on updating them any more, we should take action on Archlinux side of things to have up-to-date of this package.

[2020-03-25 08:47] imbolc opened #171 "Ignore pipe symbol inside of brackets"
I'm aware of workaround described in https://github.com/dhruvasagar/vim-table-mode/issues/64, but still can't we safely avoid formatting if the pipe surrounded by any kind of brackets and quotes: ``` ", ', `, <, [, ( ```?

Let's say we have a shell command which includes a pipe in a table. The workaround, while providing correct export format (markdown for example), breaks the ability of copying t

[2020-03-26 02:50] dhruvasagar commented on #171
It would require considerable effort. Right now table-mode essentially uses regex based parser to identify tables and changes such as this require considerable changes to the regexes. While it would certainly be a good to have, I am not sure if it's pressing enough.

[2020-03-26 02:52] dhruvasagar commented on #171
I will keep this open, however, at the moment there are other more important issues to be dealt with, I will try to look more into this later when I find time. Until then, if you're willing and have ht time, take a stab at contributing yourself

[2020-03-26 02:54] dhruvasagar commented on #170
That's a valid expectation, over the years vim plugin management has moved to a pure git based approach and hence I felt there's little value in pushing releases. However, I wasn't aware of packages being maintained for this. Thanks for bring this to my attention, I will be more than happy to bring back release version like I did before.

[2020-03-26 05:07] dhruvasagar commented on #170
I just pushed a new release. I will ensure I push new releases with semantic versioning as I did before. Hope that helps. Thanks for letting me know @ejiek .

[2020-03-26 05:07] #170 closed

[2020-03-29 13:16] Luxoboy opened #172 "g:table_mode_corner overridden by ftplugin/markdown_tablemode.vim"
Hello,

When I set `let g:table_mode_corner='+'` in my `.vimrc`, a `let b:table_mode_corner = '|'` is executed in the `ftplugin/markdown_tablemode.vim` which overrides the global setting – when opening a `.md` file.

I debugged that by launching Vim with the `-V20` option.

Thanks!

[2020-03-29 13:18] dhruvasagar commented on #172
@Luxoboy This is a known issue, in order to override it you must place your overrides in an after plugin in a directly such as `after/ftplugin/table-mode-overrides.vim`

[2020-03-29 13:18] #172 closed

[2020-03-29 13:19] dhruvasagar commented on #172
I will try to add this to the documentation since there have been several issues opened for this exact issue.

[2020-04-02 09:54] rwblokzijl opened #173 "Table updates influences change and jump lists"
Hello all,

When a table is re-adjusted the actions that are used to do so seem to be added to the jump and change lists. This break undo/redo functionality in vim as well as repeat command.

Information about how these fundamental internal vim buffers can be kept clean can be found here:
https://unix.stackexchange.com/questions/327759/how-to-suspend-vim-history

Other than this i love table mode,

[2020-04-02 13:49] dhruvasagar commented on #173
Hi Thanks for reporting this, I consider this a high priority issue, i'll go looking.

[2020-04-17 14:46] #130 closed

[2020-04-25 19:34] lsimmons2 opened #176 "Several mappings in place even when not in vim-table-mode"
Hi, thanks for the great plugin! When I start up vim, before calling `:TableModeToggle` (vim-table-mode not enabled) I have some vim-table-mode mappings already set.

`:map` shows:

[code]

Are these mappings supposed to be here even when vim-table-mode is not enabled? Can I disable these by default?

This is with Vim version 8.0.1453, installed with Vim-Plug.

[2020-04-26 06:02] dhruvasagar commented on #176
This is by design, since the actions `Tableize` is used to convert existing content into a table, these are relevant even when table mode is not enabled. There are configurations provided that allow to change these mappings. I would suggest you read more in the `:h table-mode`

[2020-04-26 06:02] #176 closed

[2020-05-06 01:42] lsimmons2 commented on #176
@dhruvasagar thanks but I tried using `let g:table_mode_disable_mappings = 1` and those three mappings were still there. Tried deleting plugin and reinstalling with that variable set with the same result. What's the right way to get rid of those mappings?

[2020-05-06 03:10] dhruvasagar commented on #176
@lsimmons2 Like I said, these mappings aren't related to `table-mode` mappings and are available globally because they're relevant even when no table exists.

Quoting from help :
[code]

[2020-05-06 03:34] dhruvasagar commented on #176
@lsimmons2 You should be able to disable these mappings adding the following configuration :

[code]

If however you wish to change the mappings to something different, you can use the provided configurations

[2020-05-06 03:54] lsimmons2 commented on #176
Trying that and those mappings still show up in `:map`.

[2020-05-06 14:57] dhruvasagar commented on #176
@lsimmons2 Thanks, turns out I misunderstood how `<Nop>` is supposed to work. I have pushed a new configuration `g:table_mode_disable_tableize_mappings` which you can set to `1`(Default is `0`) to disable these mappings.

[2020-05-06 16:49] lsimmons2 commented on #176
@dhruvasagar thanks for your help. I just updated the plugin and when setting `let g:table_mode_disable_tableize_mappings=1` those mappings are gone, but a new one shows up now: `n  <Space>tm   * :<C-U>call tablemode#Toggle()<CR>`

[2020-05-07 08:10] dhruvasagar commented on #176
@lsimmons2 Yes that is used to enable table mode, if you want to disable that too, you might as well uninstall the plugin

[2020-05-07 13:59] lsimmons2 commented on #176
@dhruvasagar ok and it couldn't be set up so that the user could choose to disable this mapping or just have it be an unmapped `<Plug>` command by default? I'd imagine most users of this plugin are experienced Vim users who would want to set up their own mappings anyway and wouldn't like not being able to remove a default mapping since it feels like it "pollutes" their `:map` space.

Personally, I

[2020-05-07 19:22] dhruvasagar commented on #176
@lsimmons2 Most mappings are available as plug mappings and the defaults are applied only if the user does not set these themselves. There are also convenience configurations available that can also be used to override these mappings in different ways.

Some configurations that you could leverage would be `g:table_mode_map_prefix`, this is used as a prefix for all table wide mappings, if you chang

[2020-05-07 21:11] sjhorst opened #177 "g:table_mode_corner unresponsive in neovim"
I'm having a strange issue where setting g:table_mode_corner='+' does not seem to be working. The corner characters between cells remains a pipe character '|' which breaks pandoc's grid_tables extension. Setting g:table_mode_corner_corner='+' works fine. I'm running neovim 0.4.3.

[2020-05-08 12:11] dhruvasagar commented on #177
Which filetype are you doing this in ? Markdown ?

[2020-05-08 17:26] sjhorst commented on #177
Yes, working in markdown and applying the settings in my ftplugin directory.

[2020-05-18 15:12] Karamaz0V1 commented on #177
I'm having the same issue (nvim v0.4.3).

`g:table_mode_corner` works for other filetypes (like `.txt`) but not for markdown.

[2020-05-18 16:07] dhruvasagar commented on #177
@sjhorst @Karamaz0V1 Kindly refer to https://github.com/dhruvasagar/vim-table-mode/issues/172, let me know if that solves your problem.

[2020-05-18 17:39] #177 closed

[2020-06-01 19:16] kurko commented on #176
I set `let g:table_mode_map_prefix = "<Leader>xxxxxxxxxxxxxxxxxx"` because I really don't want plugins taking over the mappings that I have composed over the years.

[code]

Instead, I just set an `autocmd` for `*.md` for automatically resizing the tables.

[2020-06-10 04:46] leycec commented on #163
**Seconded.** Much to my disappointed face, I just hit this as well. :disappointed:

For completeness, it should be noted that the above syntax is the [grid layout variant for table syntax supported by reStructuredText (reST)](https://docutils.sourceforge.io/docs/user/rst/quickref.html#contents). Although reST *also* supports a simpler Markdown-style variant for table syntax, the clearly superior

[2020-06-12 06:09] leycec commented on #163
Hey, no worries whatsoever. I'm just delighted that you're willing to actively maintain this *absurdly* essential plugin on behalf of the community at large. Multi-cell support would just be the useful optional cherry icing on the cake that we can technically do without, because we currently are.

Let's talk syntax, though – because syntax is fun, kids! My preferred solution would be for **implici

[2020-06-12 13:40] dhruvasagar commented on #163
Thanks for your kind words. And you're absolutely spot on with regards to syntax and compatibility issues that may ensue as a result of trying to implement something like this. That has been the no. 1 concern of mine and why I haven't given it much thought. I would much rather invest my time into building other essential functionality improving the experience of editing & manipulating tables in ge

[2020-06-13 12:24] dhruvasagar commented on #167
@Corey-Keller I will have to decline this request at the moment.

[2020-06-13 12:24] #167 closed

[2020-06-29 08:44] sbliven commented on #153
Nice! This makes column manipulation possible. It might still be nice to have single commands for some of these to speed up the workflow.

Some sequences:
- Move row: delete line `dd` or`\tdd`; move to new location; yank `yy`
- Move column: insert a new column `\tic`; select old column in block visual mode `C-V` and yank `y`; paste in empty column `p`; delete old column `\tdc`

As an aside, I pref

[2020-07-01 11:55] cpkio opened #178 "[Enhancement] Wrap cell content to predefined width"
I've looked around and found no plugin to wrap cell contents to some predefined length preserving the table column, so that long lines like
[code]
would turn to
[code]
Hope you could enhance your plugin with such feature.

[2020-07-02 16:08] eyJhb opened #179 "Formula line format"
Previously I could have formula lines like so:

[code]

But suddenly, they need to be some ugly HTML comment thing?

[code]

I am using a `.md` file, and it is detected as markdown files by vim. Any suggestions?

[2020-07-02 18:50] dhruvasagar commented on #179
@eyJhb Double check what the `filetype` of the current file is. Also check what `set commentstring` gives you. The `commentstring` setting's value is used to keep the formula line commented out.
Needless to say, it's also possible to override these settings in an ftplugin yourself, however typically the defaults should work well.

[2020-07-02 18:58] eyJhb commented on #179
The filetype is markdown

[code]
But I see that commentstring gives me the HTML syntax, and that might be it.
So I guess I just need to tweak that, thanks! :)

[2020-07-02 18:58] #179 closed

[2020-07-03 17:04] Zeioth opened #180 "vim-table override"
I've tried vim-notes with vim-table-mode and the table seem to override the syntax of vim-notes. It's this the desired behavior?
![todo](https://user-images.githubusercontent.com/3357792/86487996-f220cc80-bd5f-11ea-9266-277412706358.png)

[2020-07-03 18:58] dhruvasagar commented on #180
@Zeioth You can set `let g:table_mode_syntax = 0` to disable the syntax altogether. Table Mode table syntax is injected into the buffer (for all filetypes) dynamically when table mode is enabled.

[2020-07-03 19:01] dhruvasagar commented on #180
@Zeioth But I see your point, table mode syntax was meant to only define syntax for the table boundaries. Content within the table should not be impacted, however, I am not a vim syntax expert to know if this is possible. I will look into it.

[2020-07-13 09:34] SolidTux commented on #140
I've got the same problem. It can be fixed in the config by using

[code]

[2020-07-13 17:50] dhruvasagar commented on #140
Kindly refer to https://github.com/dhruvasagar/vim-table-mode/issues/148

[2020-07-13 17:50] #140 closed

[2020-07-27 10:29] bodograumann opened #183 "Help mentions wrong movement keys"
The help states:

It seems to me though, that those keys are not mapped and instead you have to use `[|`, `]|`, `{|` and `}|`.
Those are actually more convenient, I think, but the help is confusing.

[2020-07-27 11:11] dhruvasagar commented on #183
@bodograumann Not sure where you're getting that, but the current documentation reflects exactly what you describe.

[2020-07-27 13:50] bodograumann commented on #183
I updated, double checked and it is also wrong here in the repository: https://github.com/dhruvasagar/vim-table-mode/blob/master/doc/table-mode.txt#L54-L60

[2020-07-27 14:19] dhruvasagar commented on #183
@bodograumann My bad, I was looking in the wrong place here - https://github.com/dhruvasagar/vim-table-mode/blob/master/doc/table-mode.txt#L395-L398

[2020-07-27 14:21] #183 closed

[2020-08-02 14:58] kuon opened #184 "Formula only applying to first row"
With the following table:

[code]

If I evaluate formula, only first row is computed.

My settings are:

[code]

[2020-08-02 18:00] #184 closed

[2020-08-19 11:06] ScrumpyJack commented on #109
+1 for this feature. I would use it to create a markdown table

[2020-08-19 16:33] #109 closed

[2020-08-19 16:34] dhruvasagar commented on #109
@ScrumpyJack @githorse I have pushed an update with a new option `g:table_mode_tableize_auto_border` that allows you to enable automatic border creation for tables when using Tableize. Note, this is only applicable to Tableize since it feels jarring and error prone when editing tables with Table Mode enabled.

[2020-08-29 17:39] AceofSpades5757 commented on #178
I tried a plugin one time that did something like that, but it didn't work very well and I can't remember what it was called.

A quick web search showed this one, but I'm not sure if it's relevant or not.

[Vim RST Tables](https://github.com/nvie/vim-rst-tables)

**Grid Tables**, like the ones in Restructured Text would be cool too, and I think relevant to this.

[Sphynx Docs - Grid Tables](https:

[2020-09-01 19:23] eliedrian opened #185 "Setting corners not applied correctly"
Setting corners and headers like so in vimrc:

[code]
is not applied thoroughly.

Editing a `*.md` file will result in a mix of '+' and '|' corners, like so:

[code]

[2020-10-04 16:23] undying opened #186 "When using $n mode, formula is not evaluated for each row"
I'm trying to evaluate the formula `$5=($1,2*$2)+($1,3*$3)+($1,4*$4)` for this kind of table:

[code]
Expected behaviour is that each cell in the 5 column will be filled.
But it's working only for the first row. To evaluate for every row I have to write formula in $n,m mode for every row.

[2020-10-04 18:40] undying commented on #186
It seems to be fixed in master, thanks :)

[2020-10-04 18:40] #186 closed

[2020-10-13 05:47] ArtisticZhao opened #188 "Wrap in a cell of last column"
Hi, I'm using this plug to draw a table.
And I find when I typing the secend character. It will wrap!
![err](https://user-images.githubusercontent.com/22850287/95820391-9a303380-0d5a-11eb-800e-ec206db4fb22.gif)

[2020-10-13 07:09] dhruvasagar commented on #188
@ArtisticZhao It feels like this is probably `textwidth` in action and vim's wrapping the text because it's exceeding that limit.

[2020-10-13 09:02] ArtisticZhao commented on #188
@dhruvasagar I don't set `textwidth` in my vimrc.

[2020-10-13 09:32] dhruvasagar commented on #188
@ArtisticZhao Can you check the output of `set textwidth?`, it can get set via filetype plugins or from some other plugins.

[2020-10-13 10:56] ArtisticZhao commented on #188
@dhruvasagar Oh!  yes, I find my vim's `textwidth=78`. But, when I typing something over 78 characters. It dose not wrap.
How can I find which plug change my tw settings?  Or can I set tw=0 when I press `<leader>tm`?
Thank you.

[2020-10-13 11:15] dhruvasagar commented on #188
@ArtisticZhao Check the output of `verb set textwidth`

[2020-10-13 11:25] ArtisticZhao commented on #188
OK, I find the `textwidth` are changed by `Vim filetype plugin`!
But I have no idea to change it. I should edit the vimscrpt located `/usr/share/nvim/runtime/ftplugin/vim.vim`.
Do you have some suggestions?
Thanks a lot!

[2020-10-13 13:40] dhruvasagar commented on #188
@ArtisticZhao You can either override it within your own ~/.vim/ftplugin/vim/custom.vim, you could also use vim `modeline` to override it, there are a bunch of ways.

[2020-10-13 19:47] dhruvasagar commented on #185
@eliedrian This is by design, the reason is since `ftplugin/markdown_tablemode.vim` overrides `let b:table_mode_corner='|'` and that is used instead of the global value. If you want to override this, you should create a `after/ftplugin/markdown/tablemode_override.vim` and set `b:table_mode_corner` to whatever value you wish to.

[2020-10-13 19:47] #185 closed

[2020-10-14 16:34] typkrft opened #189 "Unbind Keymappings"
let g:table_mode_disable_mappings = 0 or 1
let g:table_mode_disable_tableize_mappings = 0 or 1

Don't seem to disable key mappings. Maybe I am not understanding what is supposed to happen here, or doing something incorrectly. Is there a way to unbind all key mappings?

[2020-10-15 06:51] dhruvasagar commented on #189
The only remaining mapping after setting those two should be the insert mode mapping for `|`, I am not sure if disabling that is a good idea.
Can you elaborate on what you're really trying to do ?

[2020-10-15 13:21] typkrft commented on #189
I am trying to remove normal mode keybindings such as `<leader>t` because I've remapped them with which key already. Because the original ones are still there it makes an extra entry in my which key setup. You can see this labeled as `t -> +prefix` in the screenshots found [here](https://imgur.com/a/MRZe9IZl).

[2020-10-15 13:32] dhruvasagar commented on #189
@typkrft There are other configurations meant to change / override those few default ones.

[2020-10-15 13:37] typkrft commented on #189
No problem, I can remap them individually. I thought there might be a way to automatically disable the default ones with a single setting. Thanks for this great plugin.

[2020-10-15 13:37] #189 closed

[2020-10-20 03:27] jwel opened #190 "Option to auto-add header fill row when doing <leader>tt of selection of existing .csv content"
Right now if I visually select the following .csv content
[code]
and then do `<leader>tt `
it results in
[code]
so I have to manually do `||` after inserting a line after the first line.
Instead, I would like a config option to be able to convert the existing content to the following for markdown:
[code]

Is there currently an option to do that?
If not, what would be a good name for that option if

[2020-10-20 04:29] dhruvasagar commented on #190
@jwel There is `g:table_mode_tabelize_auto_border` that adds borders around all rows but nothing specifically for just the header. I would probably name it something like `g:table_mode_tableize_auto_header`

[2020-11-29 14:07] linus-gates commented on #69
I would also like to use such a feature

[2020-12-01 20:31] harrisonthorne opened #191 "How to make border intersections plus symbols?"
For some reason, `+` doesn't seem to be the default border intersection character for my tables. Instead, it's `|`.

[code]

I get weird formatting issues if I try to manually make the border intersections `+`:

[code]

which happens when I press `<leader>tr` on each row.

Options set right now (neovim lua config):

[code]

[2020-12-01 21:06] harrisonthorne commented on #191
I guess it's suddenly working as expected ¯\\\_(ツ)\_/¯

[2021-01-24 00:24] LuisBL opened #192 "it is possible to undo ?"
The `u` undo does not work when we are in TableMode

[2021-01-24 03:12] AdamTillou opened #193 "Replace pluses/pipes/dashes with box characters"
Is there any way to replace the basic pluses, pipe characters, and dashes with the more modern looking unicode box characters?
For example
[code]
These would of course be connected in vim, unless the line spacing is abnormal.

[2021-01-24 10:18] LuisBL opened #194 "can we get the list of the formulas availables: Sum, Average, ..."

[2021-01-24 10:36] LuisBL commented on #194
I close

[2021-01-24 10:36] #194 closed

[2021-01-24 14:08] LuisBL commented on #69
I'm so motivated to have multi-line cells, can we be of any help on this ?

[2021-01-24 14:21] ekstdo commented on #193
After lots of experimenting with syntax, I came up with a solution by using conceal. So you need `conceallevel=1` and
[code]
in your syntax file. It matches the characters of a grid table to make them look like box characters.

[2021-01-24 15:35] LuisBL opened #195 "Add support for Simpified RestructuredText tables"
Usually to write this

[code]

If there is no need of a multi-line Cell, I use the Simplified version::

[code]
can that be done using the:  `let g:table_mode_delimiter = ' '`

or does that need something else ?

[2021-01-24 20:03] AdamTillou commented on #193
Hi, thanks for the quick response.
When you say put it in your syntax file, are you referring to the colorscheme file? I tried putting this in both my colorscheme file and init.vim, but it doesn't seem to work. And yes, I made sure to set conceallevel to 1.

[2021-01-31 08:16] dhruvasagar commented on #195
This wouldn't be possible since `' '` or `\<Space>` is too common to be mapped I believe.

[2021-01-31 08:16] #195 closed

[2021-01-31 08:21] dhruvasagar commented on #193
This is a cosmetic behavior and requires dependency on fonts so I am not going to add this directly, however I am open to review a PR if you could submit for this.

@AdamTillou Looks like the syntax definitions he's provided may apply only to pandoc files.

[2021-01-31 08:21] #193 closed

[2021-02-09 16:16] dhruvasagar commented on #69
I have started receiving sponsorship recently and some folks have been generous. I am going to start allocating more time / day. Other than sponsoring, feel free to take a stab and submit a PR, I can help you get through if required.

[2021-02-24 05:39] harrisonthorne commented on #191
Update: it's not working. It was working earlier today (intersections were `+`), and now it's not (intersections are back to `|`). The issue seems sporadic or random for some reason. I'm not sure what's causing it.

[2021-02-24 05:43] harrisonthorne commented on #191
Sorry, this is a duplicate of #185 and the solution is there.

[2021-02-24 05:43] #191 closed

[2021-02-28 12:38] thevan96 opened #196 "vim table mode supprort group heading"
How group the heading table?

![Screenshot 2021-02-28 at 19 37 52](https://user-images.githubusercontent.com/47932916/109418718-7402eb80-79fc-11eb-8527-5b9415e3104f.png)
![Screenshot 2021-02-28 at 19 38 20](https://user-images.githubusercontent.com/47932916/109418748-854bf800-79fc-11eb-90ad-0607c7c4681c.png)

[2021-02-28 13:55] dhruvasagar commented on #196
As of now there's no support for merging of cells / defining cells that span multiple columns. This is also applicable to headers. For the time being I am in favor of adding this to keep things relatively simple.

[2021-02-28 13:55] #196 closed

[2021-03-03 11:36] varac commented on #178
This would be an awesome feature, I'm working on a table with lots of text in, which screws up the formatting badly.

[2021-03-04 17:35] mnaei commented on #192
I have created a simple command for myself that turns a table back into a delimiter. Essentially, you highlight a table and the command remove all lines that have |--+--| format and replaces all remaining separators "|" with the delimiter ","

An official de-table command would be a nice addition

[2021-03-04 18:37] dhruvasagar commented on #192
@mnaei there is an existing issue with undo, essentially a lot of updates to the table aren't being clubbed together as single changes so that they can be undo'd properly. I should get to it soon.

[2021-03-23 14:04] rockyzhang24 opened #198 "Very slow for a table with many rows"
I try to use a table as a "table of content" in a markdown file. It has more than 1000 lines. However, it gets quite slow, especially when the width of a column needs to be adjusted or a new column is inserted. Is there a way to boost its performance? Thank you.

[2021-03-23 16:59] dhruvasagar commented on #198
@yanzhang0219 Thanks for letting me know, would have to investigate, likely needs some optimisations. I have personally never dealth with such long tables.

[2021-03-23 17:29] yanzhang0219 commented on #198
Thank you very much. BTW, copying one row followed by pasting many times say 1000 is quite slow as well. When pasting, I can observe the pasting process, i.e., rows are added one by one, and they are not finished immediately.

Thanks.

[2021-03-23 18:13] dhruvasagar commented on #198
That's likely vim itself, instead of pasting using some combination of `Cmd +v` or `Ctrl + Shift + v` if you just used `p`, or `1000p` it shouldn't be as slow. @yanzhang0219

[2021-03-23 20:08] yanzhang0219 commented on #198
Oh sorry. The pasting is fine. I remember incorrectly.

The issue I described above is related the insert column as well. If I have a table with 1000 row, then if I insert a column, after pressing `<Leader>tic`, I can observe the inserting process, i.e., rows are scanned one by one and I can see the table is scrolling till the end, instead of finishing immediately.
I attached a short video below a

[2021-03-24 05:56] dhruvasagar commented on #198
@yanzhang0219 i'll investigate, although we're likely dealing with extremes here. There still should be scope for improvement, but is going to be limited by what vim itself can do. Things like sluggish on `gg` or `G` indicate it's vim that's slowing down because vim-table-mode doesn't do anything with regular movement. Certain filetypes syntax definitions can sometimes cause slowness. If it's not

[2021-03-24 14:58] yanzhang0219 commented on #198
Sure. I will try that. Thank you.

[2021-04-01 14:17] physicophilic opened #199 "How to auto insert a new row near the end of table"
Hi, thanks for the plugin.

I tried reading but couldnt found any option to automatically insert a new empty row on the last line of table by pressing enter.

This feature from org mode will work very well with a buffer local mapping of tab to move around.

Can you tell me how to make it work?

[2021-04-02 04:50] dhruvasagar commented on #199
@physicophilic currently there is no such option, will work on it

[2021-04-30 20:08] void-m4110c commented on #163
Hi,
is there any plan to implement this behavior in the near future?
What should we expect as a rough timeframe for when this will be available?
Thanks in advance!

[2021-05-01 19:25] dhruvasagar commented on #163
@void-m4110c So far I haven't encountered / thought about a clean way to implement this. So we're stuck at that. I haven't come across something like this elsewhere for reference. So for now there's no timeline when this will be available.

[2021-05-29 12:26] shipleyxie opened #201 "Formula don't work in file end with .md"
| file——name | new | old |
|------------|-----|-----|
| 1       | 1   | 0   |
| 2      | 1   | 1   |
| 3   | 1   | 0   |
| 4  | 1   | 0   |
| 5  | 1   | 0   |
| 6  | 0   | 1   |
| Total      |     |     |

Formula don's work in a temp.md file.
Could you give me some suggestion?

[2021-05-29 22:25] #201 closed

[2021-05-29 22:26] dhruvasagar commented on #201
@shipleyxie Thanks for reporting this issue, I have pushed a fix, it should be working fine now.

[2021-06-11 18:04] ptrsny opened #202 "table_mode_corner not changing inner corners, only border "corners""
Setting `table_mode_corner` looks like it is getting ignore, because the results is looking like:

    |-----------------|--------------------------|------------|
    | name            | address                  | phone      |
    |-----------------|--------------------------|------------|
    | John Adams      | 1600 Pennsylvania Avenue | 0123456789 |
    |-----------------|----------------------

[2021-06-17 01:43] physical-eng commented on #202
I had same problem. See #185.

[2021-06-17 20:24] ptrsny commented on #202
Closing this then, thank you for that Hint ;)

[2021-06-17 20:24] #202 closed

[2021-07-13 20:44] comex opened #203 "table_mode_align_char doesn't work with multi-line headers"
Suppose I make a table with a right alignment marker in the second column:
[code]
If I run `:TableModeRealign`, the second column is right-aligned as expected:
[code]
But if I use multiple lines in the header:
[code]
then run `:TableModeRealign`, I instead get left alignment:
[code]
This seems to be caused by the interaction of `tablemode#align#Align` and `tablemode#align#alignments`, together ass

[2021-07-14 06:03] dhruvasagar commented on #203
You're right, multi-line headers aren't fully supported yet. However, I will take another look at it and it should be easy to support it.

[2021-08-19 09:52] korakinos opened #204 "configurable decimal separator"
Different regions and languages use different separators between the integer and decimal parts of a number, most commonly full stop or comma.

https://en.wikipedia.org/wiki/Decimal_separator#Usage_worldwide

As vim-table-mode bridges the gap between spreadsheet calculations and typesetting tables, it would make sense for its formula evaluation system to be able to work with different separators. A

[2021-08-19 19:23] dhruvasagar commented on #204
@korakinos Thanks for pointing this out, definitely should be added to vim-table-mode

[2021-08-24 16:00] SirYancy opened #205 "g:table_mode_corner does not appear to work at all"
No matter what character I set for this option, it always uses the pipe '|'. It always used to work, but now does not seem to work no matter what I do. I've tested it on multiple machines and operating systems.

[2021-08-25 07:22] dhruvasagar commented on #205
@SirYancy It seems to be working, also the passing tests indicate the same. Is this for Markdown files ?

[2021-08-25 14:22] SirYancy commented on #205
It's a markdown file. It seems that it does work if I change the file
extension to rst. It's alright. I think I have a workflow that will work.
Sorry to bother.

On Wed, Aug 25, 2021, 02:22 Dhruva Sagar ***@***.***> wrote:

[2021-08-25 15:47] dhruvasagar commented on #205
@SirYancy It's been raised a bunch of times, but the right way to override the settings for markdown files is by doing it in an `after/ftplugin`. This has come up several times and if you search in the issues you'll find a bunch of references to it.
I will make it a point to add more info in the readme for this.

[2021-08-25 15:47] #205 closed

[2021-09-02 11:24] Freed-Wu opened #206 "[feature] change TableEchoCell() to an autoload function"
[code]

Why not change TableEchoCell() to an autoload function? the s:function cannot be remapped easily.

Thanks.

[2021-09-04 17:55] #206 closed

[2021-10-21 10:53] farao opened #209 "Org mode compatible formulas"
Since the standard vim-table-mode tables have the same syntax like the emacs org mode tables, it would be a very cool thing to be able to reuse the org mode style formulas as well. https://orgmode.org/org.html#Advanced-features => The org mode formulas begin with `+TBLFM`, so if vim-table-mode shall keep the current syntax it would be easy to simply allow a second formula language next to the exis

[2021-11-11 21:45] dhruvasagar commented on #209
@farao Emacs formulas are fairly complex, I am going to decline adding this. Perhaps this can be introduced in the future if there's more demand for it.

Feel free to contribute towards this, if you can.

[2021-11-11 21:45] #209 closed

[2021-12-01 13:37] bew commented on #173
Hello, did you make progress on that front? Just started to use this plugin and undo is acting weirdly with auto updates

[2021-12-01 13:40] bew commented on #192
Related #173

[2021-12-01 18:59] dhruvasagar commented on #173
Will post update in

[2021-12-01 18:59] #192 closed

[2021-12-01 19:01] #173 closed

[2021-12-01 19:01] dhruvasagar commented on #173
@bew I have pushed a fix, kindly test it out and let me know.

[2021-12-01 19:35] rwblokzijl commented on #173
Amazing! What a wonderful christmas present!

[2021-12-01 19:38] rwblokzijl commented on #173
Undos work now, which is great. But the repeat button `.` doesn't work yet. I don't know if its related to this.

[2021-12-01 19:40] dhruvasagar commented on #173
@rwblokzijl I am going to take that up separately.

[2022-01-21 17:32] ruedigerblock opened #210 "table_mode_corner is not picked up"
Moin !

I'd like to setup grid-tables in Markdown files.

[code]

To do so I configured:
[code]
in my ~/.vimrc.
This works as expected in any file which does not end with *.md.

In Markdown Files I get:
[code]
To achieve want I desire, I have to uncomment:
[code]
in '~/.vim/bundle/vim-table-mode/ftplugin/markdown_tablemode.vim'

Thus I suspect that this setting supersedes my setting in ~/.vimrc.

[2022-01-21 17:52] dhruvasagar commented on #210
@ruedigerblock For markdown & rst documents, these overrides need to be placed in an after plugi n`/after/ftplugin/markdown.vim`

[2022-01-21 17:52] #210 closed

[2022-02-16 13:47] tim-hilt commented on #180
Just to chime in: I noticed additonally weird behavior: I have the following augroup set up to automatically activate table-mode, when I open a Markdown-file:

[code]

No, when I manually activate table-mode, the highlighting is applied:
![Screenshot_20220216_144647](https://user-images.githubusercontent.com/16037579/154277582-208d0c2a-8852-404b-9490-3a39a1c74e15.png)
but when it's activated via t

[2022-02-17 07:30] tim-hilt opened #211 "Rebind keys to move between cells"
`[|`, `]|`, `{|` and `}|` are pretty awkward to type, at least for me. Can those keys be rebound to tab, shift-tab and enter to go to the next cell, previous cell and downwards? I'm used to those keybindings, because Obsidian uses them. Here's a gif that shows, how those bindings work there.
![Peek 2022-02-17 08-26](https://user-images.githubusercontent.com/16037579/154426644-061d820f-d978-47d2-92

[2022-02-17 07:32] tim-hilt commented on #211
I noticed, that the gif cuts off screenkey! Let me know if I should record it again.

[2022-02-17 09:54] dhruvasagar commented on #211
You can change these mapping by changing the following configurations :

[code]

[2022-02-17 09:55] #211 closed

[2022-02-22 07:34] erwin commented on #114
More documentation / examples would be fantastic.

I've been trying to get Sum working and not having much luck.

Manually Sum each column works fine...
[code]

But I can't get it to work with the `Sum` command when using all rows...
I can only get Sum to work on a single row... `tmf: 1,5=Sum(1,1:1,4)`

[code]

What I would really like to do is actually eval the contents of a column, like:

[code]

[2022-02-22 12:38] dhruvasagar commented on #114
I would advice you to read the following section of the README.md https://github.com/dhruvasagar/vim-table-mode#formula-expressions

The `$` references are meant to be used with specific cells, while you should be using `ranges`

[2022-02-22 12:40] dhruvasagar commented on #114
For example, the formula for summing the entire column is `Sum(1:-1)`, which represents all rows in the current column till just before the current (target) cell

[2022-02-22 12:43] dhruvasagar commented on #114
For your example, this is what you'd need :
[code]

[2022-02-22 12:48] erwin commented on #114
@dhruvasagar That was very helpful! Thank you!

I'm amazed that I had never heard about this plugin until today! So awesome!

[2022-02-22 12:52] dhruvasagar commented on #114
@erwin no problem, I was looking at some other examples above, and I do see that I don't have support for column ranges when target is also a column.

[2022-02-22 12:58] erwin commented on #114
Maybe this is a bug in Neovim, but I noticed when I try to run this example with `:TableEvalFormulaLine` I actually get an error:

[code]

Maybe it's a Neovim issue:

[code]

[code]

[2022-02-22 13:06] dhruvasagar commented on #114
It appears there's a bug, i'll investigate

[2022-02-28 22:01] korakinos commented on #145
It is possible to `let g:table_mode_auto_align = 0`, but this disables *all* auto-alignment, not just within cells. Or as a workaround, place your alignment colons only as the last step after you finished editing your table and disabled table-mode.

Agreed that this would be good to have!

[2022-03-01 07:39] #145 closed

[2022-03-01 07:43] dhruvasagar commented on #145
I pushed a new configuration `g:table_mode_ignore_align`, this is disabled (set to 0) by default, however, if it is enabled table mode will ignore the alignment characters on the header and always left align. This can also be set on a buffer to override global.

[2022-03-01 08:10] korakinos commented on #145
Amazing, thanks!

[2022-03-22 19:52] erwin opened #212 "Feature Request: Truncate Visible Characters?"
I've found myself using vim table mode as a replacement for a spreadsheets. Sometimes you have a data value that you want to capture, say a real URL, or some other sometimes very long value but often shorter value.

It would be very cool if the column "visible width" could be defined, and anything beyond that value would be hidden. When your cursor is over that value, you could show the entire lon

[2022-03-23 05:39] dhruvasagar commented on #212
@erwin I think a better approach you might try for this would be to use something like markdown or dotoo (https://github.com/dhruvasagar/vim-dotoo) or vimwiki as your base document which has better support for links and can leverage concealing etc to show short text with the actual url hidden.

[2022-03-23 05:41] dhruvasagar commented on #212
@erwin it turns out the alignment don't work well with conceal

[2022-03-25 00:51] slarrain opened #213 "Tableize pattern for non CSV"
So, I have an interesting use case for VTM.

I have a bunch of TAGS on different files/notes. I can generate a list of Tags with the `:VimwikiGenerateTagLinks` with the following format.
[code]

Now what I would like to be able to do, is to create a Table with that format. So that I can effectively create tables from tags.
I was thinking of the `Tableize` command, because it can have an `{pattern}

[2022-03-25 17:30] dhruvasagar commented on #213
@slarrain The `{pattern}` is meant to match the delimiter that separates each column value.

[2022-04-04 22:26] slarrain commented on #213
Thank's for the quick reply.

I was thinking of being able to auto generate from the snippet above something like the following:

[code]

What would be the use case? This functionality would allow you to use a sort of Kanban Board like table.
To the task (or Lead or whatever) you put a tag (`:tag:`) or update one.
Then `:VimwikirebuildTags` and then `:VimwikiGenerateTagLinks` will create the snipp

[2022-04-05 12:45] dhruvasagar commented on #213
@slarrain This can't be done natively by Tabelize or it's variants because like I said, `{pattern}` currently is a regex that defines delimiters for each column value (like for csv that is a `,`).

However, i'll try to share a code snippet using Table Mode APIs that can get this desired behavior.

[2022-04-05 13:15] mig-hub commented on #114
I was personally trying to add times like you can do in org mode with the "U" flag. Is there a way to do this?

[2022-04-05 15:19] dhruvasagar commented on #114
@mig-hub You can parse that into a time value with something like this :

[code]

[2022-04-05 16:52] dhruvasagar commented on #114
@erwin I have recently pushed a change to the formula evaluation engine that fixes some issues discovered while attempting to solve for your use case. Now you should be able to see the correct calculations for the following table as an example :

[code]

[2022-04-05 16:52] #114 closed

[2022-04-06 07:37] mig-hub commented on #114
Thank you @dhruvasagar , this is exactly what I was looking for. I agree that this is definitely a good route to separate functions that are very generic and can be used in other context, and then have just specific table-mode that are only used for parsing the ranges and then delegate.

This is a really nice project.
Thank you for working on this.

[2022-05-13 06:21] binyomen opened #214 "Easier way to write custom formula functions"
I've just started using formulas, and I really like them! However, I've been having trouble writing custom functions that take a range like `Max`, `Sum`, etc.

In https://github.com/dhruvasagar/vim-table-mode/issues/114#issuecomment-1088958500, you provide an example where the function `SumTime` takes in the range as a string, then converts it to a list with `GetCellRange`. This only seems to work

[2022-05-13 19:08] dhruvasagar commented on #214
@binyomen perhaps you can share an example of what you're trying to do ? It'll help me better understand what you're trying to do.

[2022-05-14 03:57] binyomen commented on #214
Thanks for the quick response! I wasn't being very specific, sorry :)

Basically I've got a table where the first column is the name of an item, the second column is the quantity of the item, and the third column is the price of each item. Something like this:

[code]

I want to write a function that can take a range like `1,2:-1,3` and multiply the two columns together for each row, then sum the

[2022-05-22 05:07] dhruvasagar commented on #214
I was able to do it like this @binyomen  :

[code]

[2022-05-22 05:17] dhruvasagar commented on #214
Note that this does require your cursor to be within the table, that's something I shall fix.

[2022-05-22 06:05] binyomen commented on #214
Thanks for looking into this! I think that solution works. And yeah, working with the cursor on the formula line would mostly give feature parity with built-ins I think, except for shorthand like "1:1" which isn't super crucial anyway :)

[2022-05-22 06:13] dhruvasagar commented on #213
Following is a snippet that should work :
[code]

[2022-05-22 06:15] dhruvasagar commented on #213
@slarrain ^

[2022-07-21 01:40] camfowler commented on #68
Ran into this issue today. Rendering the table using iA Writer and it doesn't render the table unless there is an empty line after it. My workflow currently involves inserting the newline when needing to render out for preview, then removing it when I need to run TableEvalFormulaLine.

[2022-07-21 05:51] dhruvasagar commented on #68
@camfowler Thanks for sharing, I shall expedite this.

[2022-07-21 10:14] kalyan860 opened #217 "How do I set/decrease width of very wide columns?"
Very wide columns make viewing tables impossible.
I see that org mode tables has an option to set width like <10> before a table cell.
 Is any such method available?

[2022-07-21 15:50] dhruvasagar commented on #217
@kalyan860 No such method is available as of now. Can you share screenshot / links / images to this so I can see exactly what it looks like ?

[2022-07-22 05:42] kalyan860 commented on #217
The entire formatting of an org table is present as text within the
document itself.
So if we want to shorten a column to say 15 width (in characters) , we make
an extra empty row above the column and in the cell directly above the
column we write <15>.
And then when do Ctrl + Tab, the column view shortens to 15 character wide.
This can toggled.
Here is the screenshot.
[image: image.png]

On Thu,

[2022-07-22 18:17] dhruvasagar commented on #217
@kalyan860 The image isn't viewable.

[2022-07-23 04:04] kalyan860 commented on #217
Oh I copy pasted the text below from an org file.
[image: image.png]
This time I copy pasted a screenshot from within emacs. If this image is
not visible, please see link below.
https://orgmode.org/manual/Column-Width-and-Alignment.html
It is the second image on the link above.
Also please consider the option to make/generate a blank table when number
of rows and columns are given i.e the function

[2022-07-23 15:39] kalyan860 commented on #217
![image](https://user-images.githubusercontent.com/95114049/180612061-f1aa536a-aee1-444c-9f38-7355434584bc.png)

[2022-07-27 02:56] baojiliu opened #218 "How to center content"
I'm looking at the docs, and I see that there is something about alignment (:let g:table_mode_align_char=':')
But, I'm not quite sure how to use it. Any tips?

Expected:
[code]
Get:
[code]

My ```init.vim```
[code]

[2022-07-27 15:45] dhruvasagar commented on #218
@baojiliu What filetype are you working with ?

[2022-08-01 07:03] baojiliu commented on #218
```md```

[2022-08-02 15:57] dhruvasagar commented on #218
@baojiliu Markdown files override the vimrc configs on `Filetype` event and have `g:table_mode_corder='+'`, which is likely throwing the alignment off. If you want to use those configs, you'll need to set them from an autocmd to override for markdown files. Or use the correct border (you can remove the border and add a new one to see and then add the alignment markers again)

[2022-08-04 03:06] xbladesub opened #219 "Visual mode issue"
How can I disable this in block visual mode? I tried to use 'I' and 'a' in block visual mode, but it seems like this plugin functionality overlaps default vim bindings
![Screen Shot 2022-08-04 at 11 04 33 AM](https://user-images.githubusercontent.com/45129790/182754363-b2c8c940-87ed-45bf-8bb1-87e727a292a5.png)

[2022-08-04 04:30] dhruvasagar commented on #219
@xbladesub It'll help if you read the docs. The text objects provided by the plugin are `i|` and `a|` following vim design of representing inside and around a table cell.

These are active only inside a table, when table mode is enabled so ideally these do not come in your way. However, if you really want to disable these you could do the following :

[code]

[2022-08-04 04:30] #219 closed

[2022-08-10 10:15] kalyan860 opened #220 "Is there a command or a way to unalign tables, i.e revert table back to previous configuration?"
Let's say I convert a comma seperated values or tab seperated values to table; The table mode puts in pipe symbols instead of those delimiters. I know I can just undo those changes. But if I open the file again after a long time, I need the table to be in its original comma seperated style to be able to copy it to excel or any other program like mail.

[2022-08-23 20:24] LuisBL opened #221 "new line with `||` does not work any more"
[code]
if we type ENTER
[code]

[code]

if we type ENTER we get:

[code]

No way to add || in an new line because no way to go to the new line

[2022-08-24 06:24] dhruvasagar commented on #221
@LuisBL I am not sure what you mean, if you type `| |` on the next row it will add a new empty cell. If you add `||` (without a space) it will add a border line.

[2022-08-24 06:37] LuisBL commented on #221
Sorry my bad I was expecting || put my cursor on a new line. My bad.

thank you so much for this wonderfull code !

[2022-08-24 06:37] #221 closed

[2022-10-07 15:03] dhruvasagar commented on #220
Table Mode does provide this.
You have 2 options :
1. If you enable persistent undo, you'll be able to undo back to the original content even after vim restarts
2. You can do something like `:%s/|/,/g` followed by `:%s/^,//g` and `:%s/,$//g`

[2022-10-07 15:03] #220 closed

[2022-10-07 15:04] #218 closed

[2022-10-10 06:32] kflak commented on #198
I'm experiencing sluggish performance with a table of only 40ish rows... Tried disabling the table syntax, but there is still definite slow-downs, for example when hitting <cr> in insert mode at the bottom of a table to insert a new row.

[2022-10-10 08:21] dhruvasagar commented on #198
@kflak Thanks for letting me know, I haven't tested much on such large tables. I will take a look, I am sure there are performance improvements that can be done.
As a work around, I can recommend disable auto align feature and rely on manually aligning the table with `:TableModeRealign` instead, that way it should be easier to deal with large tables.

[2022-10-10 09:12] kflak commented on #198
Will see if I can give it a try later tonight! So far it seems like setting auto-align doesn't do anything, the table still realigns whenever I drop out of insert mode, even when setting it to 0?

[2022-10-11 14:10] kflak commented on #198
OK, think I figured it out! I was working on a table in vimwiki, and vimwiki has its very own way of dealing with tables... doh... So obviously things are going to crash head-on when I have two plugins fighting over who gets to do what at the same time.

[2022-10-11 14:29] dhruvasagar commented on #198
@kflak Interesting, kindly check by disabling vimwiki's table handling. Let me know if it's still an issue ?

[2022-10-11 17:17] kflak commented on #198
Seems to be nice and snappy when using it in a regular markdown file, when vimwiki is not in play.

[2022-10-19 09:04] #198 closed

[2022-10-20 10:09] #68 closed

[2022-11-14 08:29] huyz commented on #199
Can we have both "insert above" and "insert below"?